Repository DataDog/integrations-extras, pull requests merged in 2018-12, with the labels that each got.

#239 Add Aqua check
  aqua/CHANGELOG.md
  aqua/MANIFEST.in
  aqua/README.md
  aqua/datadog_checks/__init__.py
  aqua/datadog_checks/aqua/__about__.py
  aqua/datadog_checks/aqua/__init__.py
  aqua/datadog_checks/aqua/aqua.py
  aqua/datadog_checks/aqua/data/conf.yaml.example
  aqua/logos/avatars-bot.png
  aqua/logos/saas_logos-bot.png
  aqua/logos/saas_logos-small.png
  aqua/manifest.json
  aqua/metadata.csv
  aqua/requirements-dev.txt
  aqua/requirements.in
  aqua/requirements.txt
  aqua/setup.py
  aqua/tests/__init__.py
  aqua/tests/aqua_audit_metrics.json
  aqua/tests/aqua_base_metrics.json
  aqua/tests/aqua_hosts_metrics.json
  aqua/tests/aqua_scan_queues_metrics.json
  aqua/tests/conftest.py
  aqua/tests/test_aqua.py
  aqua/tox.ini
Labels: changelog/Added, integration/aqua

#244 [aqua] add service check
  .github/CODEOWNERS
  aqua/service_checks.json
Labels: changelog/Added, integration/aqua

#247 [aqua] fix urljoin import
  aqua/datadog_checks/aqua/aqua.py
Labels: changelog/Fixed, integration/aqua

#248 Update README
  ambassador/README.md
  aqua/README.md
  buddy/README.md
  concourse_ci/README.md
  convox/README.md
  eventstore/README.md
  filebeat/README.md
  gnatsd/README.md
  gnatsd_streaming/README.md
  gremlin/README.md
  hbase_master/README.md
  hbase_regionserver/README.md
  logstash/README.md
  logzio/README.md
  neo4j/README.md
  nomad/README.md
  rbltracker/README.md
  reboot_required/README.md
  redis_sentinel/README.md
  sigsci/README.md
  snmpwalk/README.md
  split/README.md
  stardog/README.md
  storm/README.md
  upsc/README.md
  uptime/README.md
  vns3/README.md
Labels: changelog/no-changelog, documentation

#250 Properly cache http profiler
  filebeat/check.py
Labels: changelog/Fixed, integration/filebeat

#251 Add Baklava as CODEOWNER for docs
  .github/CODEOWNERS
Labels: changelog/no-changelog, documentation
