Repository DataDog/integrations-extras, pull requests merged in 2019-01, with the labels that each got.

#252 Update Traefik tile
  traefik/logos/avatars-bot.png
  traefik/logos/saas_logos-bot.png
  traefik/logos/saas_logos-small.png
  traefik/manifest.json
  traefik/metadata.csv
Labels: changelog/no-changelog

#281 Cleanup unused resources
  .pylintrc
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Rakefile
  ci/redis_sentinel.rake
  requirements-dev.txt
  requirements-test.txt
  tox.ini
Labels: dev/testing

#282 Update manifest
  aerospike/manifest.json
Labels: changelog/no-changelog, integration/aerospike

#283 Update manifest and readme
  vns3/README.md
  vns3/manifest.json
Labels: changelog/no-changelog, integration/vns3

#284 Update manifest
  uptime/manifest.json
Labels: changelog/no-changelog, integration/uptime

#285 Update manifest
  upsc/manifest.json
Labels: changelog/no-changelog, integration/upsc

#286 Update manifest
  traefik/manifest.json
Labels: changelog/no-changelog, integration/traefik

#287 Update manifest
  storm/manifest.json
Labels: changelog/no-changelog, integration/storm

#288 Update manifest
  stardog/manifest.json
Labels: changelog/no-changelog, integration/stardog

#289 Update manifest
  split/manifest.json
Labels: changelog/no-changelog, integration/split

#290 Update manifest
  sortdb/manifest.json
Labels: changelog/no-changelog, integration/sortdb

#291 Update manifest
  snmpwalk/manifest.json
Labels: changelog/no-changelog, integration/snmpwalk

#292 Update manifest
  sigsci/manifest.json
Labels: changelog/no-changelog, integration/sigsci

#293 Update manifest
  rookout/manifest.json
Labels: changelog/no-changelog, integration/rookout

#294 Update manifest
  rigor/manifest.json
Labels: changelog/no-changelog, integration/rigor

#296 Update manifest
  reboot_required/manifest.json
Labels: changelog/no-changelog, integration/reboot_required

#297 Update manifest
  rbltracker/manifest.json
Labels: changelog/no-changelog, integration/rbltracker

#298 Update manifest
  portworx/manifest.json
Labels: changelog/no-changelog, integration/portworx

#299 Fix manifest format
  nomad/manifest.json
Labels: changelog/no-changelog, integration/nomad

#300 Update manifest
  neo4j/manifest.json
Labels: changelog/no-changelog, integration/neo4j

#301 Fix manifest format
  logzio/manifest.json
Labels: changelog/no-changelog, integration/logzio

#295 Update manifest
  redis_sentinel/manifest.json
Labels: changelog/no-changelog, integration/redis_sentinel

#302 Update manifest
  logstash/manifest.json
Labels: changelog/no-changelog, integration/logstash

#303 Fix manifest
  launchdarkly/manifest.json
Labels: changelog/no-changelog, integration/launchdarkly

#304 Update manifest
  hbase_regionserver/manifest.json
Labels: changelog/no-changelog, integration/hbase_regionserver

#305 Update manifest version
  hbase_master/manifest.json
Labels: changelog/no-changelog, integration/hbase_master

#306 Fix manifest
  gremlin/manifest.json
Labels: changelog/no-changelog, integration/gremlin

#307 Fix manifest
  gnatsd_streaming/manifest.json
Labels: changelog/no-changelog, integration/gnatsd_streaming

#309 Update manifest
  filebeat/manifest.json
Labels: changelog/no-changelog, integration/filebeat

#310 Fix manifest format
  eventstore/manifest.json
Labels: changelog/no-changelog, integration/eventstore

#311 Fix manifest
  convox/manifest.json
Labels: changelog/no-changelog, integration/convox

#312 Fix manifest
  concourse_ci/manifest.json
Labels: changelog/no-changelog, integration/concourse_ci

#313 Fix manifest
  buddy/manifest.json
Labels: changelog/no-changelog, integration/buddy

#314 Fix manifest
  ambassador/manifest.json
Labels: changelog/no-changelog, integration/ambassador

#315 Add owners for missing integrations
  .github/CODEOWNERS
Labels: dev/tooling

#316 Fix Travis build
  .travis.yml
Labels: dev/testing

#249 Add log instruction on traefik integration
  traefik/README.md
  traefik/manifest.json
Labels: documentation

#317 Cleanup and minor Travis fix
  .travis.yml
  tasks/__init__.py
  tasks/changelog.py
  tasks/cleanup.py
  tasks/constants.py
  tasks/manifest.py
  tasks/release.py
  tasks/test.py
  tasks/upgrade.py
  tasks/utils/__init__.py
  tasks/utils/common.py
  tasks/utils/git.py
  tasks/utils/github.py
Labels: dev/tooling

#320 Fix instance cache and increment metrics in Filebeat check
  filebeat/check.py
Labels: changelog/Fixed, integration/filebeat

#323 Add missing 'metric_prefix'
  filebeat/manifest.json
  gnatsd/manifest.json
  gnatsd_streaming/manifest.json
  hbase_master/manifest.json
  hbase_regionserver/manifest.json
  logstash/manifest.json
  neo4j/manifest.json
  redis_sentinel/manifest.json
  stardog/manifest.json
  traefik/manifest.json
  upsc/manifest.json
Labels: changelog/no-changelog, integration/filebeat, integration/gnatsd, integration/gnatsd_streaming, integration/hbase_master, integration/hbase_regionserver, integration/logstash, integration/neo4j, integration/redis_sentinel, integration/stardog, integration/traefik, integration/upsc

#322 fix metadata
  eventstore/manifest.json
  eventstore/metadata.csv
Labels: changelog/no-changelog, integration/eventstore

#321 Metadata file must be present
  buddy/metadata.csv
Labels: changelog/no-changelog, integration/buddy

#324 Fix metadata
  storm/manifest.json
  storm/metadata.csv
Labels: changelog/no-changelog, integration/storm

#325 Add missing orientation value
  redis_sentinel/metadata.csv
Labels: changelog/no-changelog, integration/redis_sentinel

#326 Fix metadata format
  rigor/metadata.csv
Labels: changelog/no-changelog, integration/rigor

#327 Fix metadata
  sortdb/manifest.json
  sortdb/metadata.csv
Labels: changelog/no-changelog, integration/sortdb

#328 Re-enable metadata validation on CI
  .travis.yml
  buddy/metadata.csv
Labels: dev/testing

#329 Run validation tools on Appveyor
  appveyor.yml
Labels: dev/testing

#333 Removing at this time
  aerospike/README.md
  ambassador/README.md
  buddy/README.md
  convox/README.md
  eventstore/README.md
  filebeat/README.md
  gnatsd/README.md
  gremlin/README.md
  hbase_master/README.md
  hbase_regionserver/README.md
  launchdarkly/README.md
  logstash/README.md
  logzio/README.md
  neo4j/README.md
  nomad/README.md
  portworx/README.md
  rbltracker/README.md
  reboot_required/README.md
  redis_sentinel/README.md
  sigsci/README.md
  snmpwalk/README.md
  split/README.md
  stardog/README.md
  storm/README.md
  traefik/README.md
  upsc/README.md
  uptime/README.md
  vns3/README.md
Labels: changelog/no-changelog, documentation

#332 [Uptime integration] Fix graph snapshot image link
  uptime/README.md
Labels: changelog/no-changelog, documentation, integration/uptime

#212 Add check for Riak replication (riak-repl) metrics
  riak_repl/CHANGELOG.md
  riak_repl/MANIFEST.in
  riak_repl/README.md
  riak_repl/datadog_checks/__init__.py
  riak_repl/datadog_checks/riak_repl/__about__.py
  riak_repl/datadog_checks/riak_repl/__init__.py
  riak_repl/datadog_checks/riak_repl/data/conf.yaml.example
  riak_repl/datadog_checks/riak_repl/riak_repl.py
  riak_repl/logos/avatars-bot.png
  riak_repl/logos/saas_logos-bot.png
  riak_repl/logos/saas_logos-small.png
  riak_repl/manifest.json
  riak_repl/metadata.csv
  riak_repl/requirements-dev.txt
  riak_repl/requirements.in
  riak_repl/requirements.txt
  riak_repl/setup.py
  riak_repl/tests/__init__.py
  riak_repl/tests/common.py
  riak_repl/tests/conftest.py
  riak_repl/tests/docker/docker-compose.yml
  riak_repl/tests/test_check.py
  riak_repl/tox.ini
Labels: kind/new-integration
