Repository DataDog/integrations-extras, pull requests merged in 2019-04, with the labels that each got.

#382 [Gnatsd] readme and metrics
  gnatsd/README.md
  gnatsd/metadata.csv
Labels: changelog/no-changelog, documentation, integration/gnatsd

#390 Apply style changes, add to travis run
  .travis.yml
  stardog/datadog_checks/stardog/stardog.py
  stardog/tests/test_stardog.py
  stardog/tox.ini
Labels: changelog/no-changelog, integration/stardog

#389 Apply style changes, remove unused ci dir
  gnatsd/ci/gnatsd.rake
  gnatsd/datadog_checks/gnatsd/gnatsd.py
  gnatsd/tests/conftest.py
  gnatsd/tests/test_gnatsd.py
Labels: changelog/no-changelog, integration/gnatsd

#391 Removing useless README
  neutrona/logos/README.md
  storm/logos/README.md
  upsc/logos/README.md
Labels: changelog/no-changelog, documentation, integration/storm, integration/upsc

#387 Update categories
  ambassador/manifest.json
  bonsai/manifest.json
  convox/manifest.json
  gremlin/manifest.json
Labels: changelog/no-changelog, documentation, integration/ambassador, integration/convox, integration/gremlin

#386 Adding correct metrics table and fixing header
  concourse_ci/README.md
Labels: changelog/no-changelog, documentation, integration/concourse_ci

#385 Apply style changes
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/tests/conftest.py
  filebeat/tests/test_filebeat.py
Labels: changelog/Added, integration/filebeat

#384 Port to wheels
  portworx/MANIFEST.in
  portworx/README.md
  portworx/check.py
  portworx/ci/portworx.rake
  portworx/datadog_checks/__init__.py
  portworx/datadog_checks/portworx/__about__.py
  portworx/datadog_checks/portworx/__init__.py
  portworx/datadog_checks/portworx/data/conf.yaml.example
  portworx/datadog_checks/portworx/portworx.py
  portworx/requirements-dev.txt
  portworx/requirements.in
  portworx/requirements.txt
  portworx/setup.py
  portworx/test_portworx.py
  portworx/tests/__init__.py
  portworx/tests/test_portworx.py
  portworx/tox.ini
Labels: changelog/Added, integration/portworx

#408 Adhere to code style
  upsc/datadog_checks/upsc/__init__.py
  upsc/setup.py
  upsc/tests/common.py
  upsc/tests/test_upsc.py
  upsc/tox.ini
Labels: changelog/Added, integration/upsc

#407 Adhere to code style
  traefik/datadog_checks/traefik/__init__.py
  traefik/datadog_checks/traefik/traefik.py
  traefik/setup.py
  traefik/tests/common.py
  traefik/tests/conftest.py
  traefik/tox.ini
Labels: changelog/Added, integration/traefik

#406 Adhere to code style
  storm/datadog_checks/storm/__init__.py
  storm/datadog_checks/storm/storm.py
  storm/setup.py
  storm/tests/common.py
  storm/tests/conftest.py
  storm/tests/test_storm.py
  storm/tox.ini
Labels: changelog/Added, integration/storm

#397 Adhere to code style
  bind9/datadog_checks/bind9/__init__.py
  bind9/datadog_checks/bind9/bind9.py
  bind9/setup.py
  bind9/tests/test_check.py
  bind9/tox.ini
Labels: changelog/Added, integration/bind9

#411 Migrate to wheels
  .travis.yml
  redis_sentinel/MANIFEST.in
  redis_sentinel/README.md
  redis_sentinel/ci/redis_sentinel.rake
  redis_sentinel/ci/resources/docker-compose.yml
  redis_sentinel/datadog_checks/__init__.py
  redis_sentinel/datadog_checks/redis_sentinel/__about__.py
  redis_sentinel/datadog_checks/redis_sentinel/__init__.py
  redis_sentinel/datadog_checks/redis_sentinel/data/conf.yaml.example
  redis_sentinel/datadog_checks/redis_sentinel/redis_sentinel.py
  redis_sentinel/requirements-dev.txt
  redis_sentinel/requirements.in
  redis_sentinel/requirements.txt
  redis_sentinel/setup.py
  redis_sentinel/test_redis_sentinel.py
  redis_sentinel/tests/__init__.py
  redis_sentinel/tests/conftest.py
  redis_sentinel/tests/docker/docker-compose.yml
  redis_sentinel/tests/test_redis_sentinel.py
  redis_sentinel/tox.ini
Labels: changelog/Added, integration/redis_sentinel

#410 Migrate to wheels
  .travis.yml
  gnatsd_streaming/MANIFEST.in
  gnatsd_streaming/README.md
  gnatsd_streaming/ci/gnatsd_streaming.rake
  gnatsd_streaming/datadog_checks/__init__.py
  gnatsd_streaming/datadog_checks/gnatsd_streaming/__about__.py
  gnatsd_streaming/datadog_checks/gnatsd_streaming/__init__.py
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/gnatsd_streaming.py
  gnatsd_streaming/requirements-dev.txt
  gnatsd_streaming/requirements.in
  gnatsd_streaming/requirements.txt
  gnatsd_streaming/setup.py
  gnatsd_streaming/test_gnatsd_streaming.py
  gnatsd_streaming/tests/__init__.py
  gnatsd_streaming/tests/conftest.py
  gnatsd_streaming/tests/docker/config/Dockerfile
  gnatsd_streaming/tests/docker/config/script.sh
  gnatsd_streaming/tests/docker/docker-compose.yml
  gnatsd_streaming/tests/test_gnatsd_streaming.py
  gnatsd_streaming/tox.ini
Labels: changelog/Added, integration/gnatsd_streaming

#396 Adhere to code style
  aqua/datadog_checks/aqua/__init__.py
  aqua/datadog_checks/aqua/aqua.py
  aqua/setup.py
  aqua/tests/conftest.py
  aqua/tests/test_aqua.py
  aqua/tox.ini
Labels: changelog/Added, integration/aqua

#388 Fix integration tests
  riak_repl/tests/common.py
  riak_repl/tests/conftest.py
  riak_repl/tests/docker/docker-compose.yml
  riak_repl/tests/test_check.py
  riak_repl/tox.ini
Labels: dev/testing, integration/riak-repl

#398 Adhere to code style
  eventstore/datadog_checks/eventstore/__init__.py
  eventstore/datadog_checks/eventstore/eventstore.py
  eventstore/datadog_checks/eventstore/metrics.py
  eventstore/setup.py
  eventstore/tests/conftest.py
  eventstore/tests/test_check.py
  eventstore/tox.ini
Labels: changelog/Added, integration/eventstore

#399 Adhere to code style
  logstash/datadog_checks/logstash/__init__.py
  logstash/datadog_checks/logstash/logstash.py
  logstash/setup.py
  logstash/tests/conftest.py
  logstash/tests/test_logstash.py
  logstash/tox.ini
Labels: changelog/Added, integration/logstash

#405 Adhere to code style
  sortdb/datadog_checks/sortdb/__init__.py
  sortdb/datadog_checks/sortdb/check.py
  sortdb/setup.py
  sortdb/tests/test_sortdb.py
  sortdb/tox.ini
Labels: changelog/Added, integration/sortdb

#400 Adhere to code style
  neo4j/datadog_checks/neo4j/__init__.py
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/setup.py
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/test_neo4j.py
  neo4j/tox.ini
Labels: changelog/Added, integration/neo4j

#401 Adhere to code style
  neutrona/datadog_checks/neutrona/__init__.py
  neutrona/datadog_checks/neutrona/neutrona.py
  neutrona/setup.py
  neutrona/tests/azure_auth.py
  neutrona/tests/azure_mgmt.py
  neutrona/tests/neutrona_express_route_api.py
  neutrona/tests/neutrona_express_route_api_demo.py
  neutrona/tests/test_neutrona.py
  neutrona/tests/test_neutrona_demo.py
  neutrona/tox.ini
Labels: changelog/Added

#403 Adhere to code style
  reboot_required/datadog_checks/reboot_required/__init__.py
  reboot_required/datadog_checks/reboot_required/reboot_required.py
  reboot_required/setup.py
  reboot_required/tests/conftest.py
  reboot_required/tox.ini
Labels: changelog/Added, integration/reboot_required

#402 Adhere to code style
  nextcloud/datadog_checks/nextcloud/__init__.py
  nextcloud/datadog_checks/nextcloud/nextcloud.py
  nextcloud/setup.py
  nextcloud/tests/common.py
  nextcloud/tests/conftest.py
  nextcloud/tests/test_nextcloud.py
  nextcloud/tox.ini
Labels: changelog/Added, integration/nextcloud

#415 fixing broken link in Convox readme
  convox/README.md
Labels: changelog/no-changelog, documentation, integration/convox, kind/bug

#404 Adhere to code style
  riak_repl/datadog_checks/riak_repl/__init__.py
  riak_repl/datadog_checks/riak_repl/riak_repl.py
  riak_repl/setup.py
  riak_repl/tests/conftest.py
  riak_repl/tests/test_check.py
  riak_repl/tox.ini
Labels: changelog/Added, integration/riak-repl

#413 Migrate to wheels
  .travis.yml
  snmpwalk/MANIFEST.in
  snmpwalk/README.md
  snmpwalk/ci/snmpwalk.rake
  snmpwalk/datadog_checks/__init__.py
  snmpwalk/datadog_checks/snmpwalk/__about__.py
  snmpwalk/datadog_checks/snmpwalk/__init__.py
  snmpwalk/datadog_checks/snmpwalk/data/conf.yaml.example
  snmpwalk/datadog_checks/snmpwalk/snmpwalk.py
  snmpwalk/requirements-dev.txt
  snmpwalk/requirements.in
  snmpwalk/requirements.txt
  snmpwalk/setup.py
  snmpwalk/test_snmpwalk.py
  snmpwalk/tests/__init__.py
  snmpwalk/tests/common.py
  snmpwalk/tests/conftest.py
  snmpwalk/tests/docker/config/snmpd.conf
  snmpwalk/tests/docker/docker-compose.yml
  snmpwalk/tests/script.sh
  snmpwalk/tests/test_snmpwalk.py
  snmpwalk/tox.ini
Labels: changelog/Added, integration/snmpwalk

#418 update logzio integration-id
  logzio/manifest.json
Labels: changelog/no-changelog, integration/logzio

#416 Add some more timing to wait for the success logs
  riak_repl/tests/conftest.py
Labels: changelog/no-changelog, dev/testing, integration/riak-repl

#422 Changing integration type
  bonsai/manifest.json
Labels: changelog/no-changelog, documentation

#425 Add black readme badge
  README.md
Labels: documentation

#426 Add support for multi-pipeline Logstash metrics (v6, v7)
  logstash/README.md
  logstash/datadog_checks/logstash/logstash.py
  logstash/tests/conftest.py
  logstash/tests/docker/docker-compose.yml
  logstash/tests/docker/logstash5/docker-compose.yml
  logstash/tests/docker/logstash6/docker-compose.yml
  logstash/tests/docker/logstash6/test_multi_pipelines.yml
  logstash/tests/docker/logstash6/test_pipeline1.conf
  logstash/tests/docker/logstash6/test_pipeline2.conf
  logstash/tests/docker/logstash7/docker-compose.yml
  logstash/tests/docker/logstash7/test_multi_pipelines.yml
  logstash/tests/docker/logstash7/test_pipeline1.conf
  logstash/tests/docker/logstash7/test_pipeline2.conf
  logstash/tests/test_logstash.py
Labels: changelog/Added, integration/logstash

#427 Fixing metrics table wording.
  eventstore/README.md
Labels: changelog/no-changelog, documentation, integration/eventstore
