Repository DataDog/integrations-extras, pull requests merged in 2019-09, with the labels that each got.

#478 Convert to Python package
  hbase_master/.gitignore
  hbase_master/CHANGELOG.md
  hbase_master/MANIFEST.in
  hbase_master/_gen.rb
  hbase_master/ci/hbase_master.rake
  hbase_master/ci/resources/docker-compose-hbase.yaml
  hbase_master/ci/resources/hadoop.yml
  hbase_master/ci/resources/zookeeper.yml
  hbase_master/conf.yaml.example
  hbase_master/datadog_checks/__init__.py
  hbase_master/datadog_checks/hbase_master/__about__.py
  hbase_master/datadog_checks/hbase_master/__init__.py
  hbase_master/datadog_checks/hbase_master/data/conf.yaml.example
  hbase_master/datadog_checks/hbase_master/data/metrics.yaml
  hbase_master/requirements.txt
  hbase_master/setup.py
  hbase_master/test_hbase_master.py
Labels: changelog/Fixed, integration/hbase_master

#479 [documentation] clarifying sigsci steps
  sigsci/README.md
Labels: changelog/no-changelog, documentation, integration/sigsci

#484 Updating instructions to match K8s v1.16
  ambassador/README.md
Labels: changelog/no-changelog, documentation, integration/ambassador

#477 Update to call out Kubernetes non local traffic in integration documentation
  sigsci/README.md
Labels: changelog/no-changelog, documentation, integration/sigsci
