Repository DataDog/integrations-extras, pull requests merged in 2019-05, with the labels that each got.

#430 [Bind9] Migrating configuration file to new norm
  bind9/datadog_checks/bind9/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/bind9

#436 [Neutrona] Fixing indent
  neutrona/datadog_checks/neutrona/data/conf.yaml.example
Labels: changelog/no-changelog, documentation

#437 [NextCloud] Fixing indent to match new norm
  nextcloud/datadog_checks/nextcloud/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/nextcloud

#428 [Aqua] Migrating configuration file to new norm
  aqua/datadog_checks/aqua/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/aqua

#442 Fix env testing in non local docker
  nextcloud/tests/conftest.py
  nextcloud/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/nextcloud

#443 [Snmp] migrating configuration file to the norm
  snmpwalk/datadog_checks/snmpwalk/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/snmpwalk

#446 [Traefik] migrating configuration file to the norm
  traefik/datadog_checks/traefik/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/traefik

#440 [Redis Sentinel] Migrating configuration file to the norm
  redis_sentinel/datadog_checks/redis_sentinel/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/redis_sentinel

#439 [Reboot required] Migrating configuration file to the norm
  reboot_required/README.md
  reboot_required/datadog_checks/reboot_required/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/reboot_required

#438 [Portworx] Migrating configuration file to the new norm
  portworx/datadog_checks/portworx/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/portworx

#433 [Gnatsd] migrating to the new conf file norm
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/gnatsd

#432 [Gnatsd streaming] migrating to the new conf file norm
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/gnatsd_streaming

#429 [EventStore] Migrating to the new configuration norm
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/eventstore

#441 [Riak Repl] Migrating configuration file to the norm
  riak_repl/datadog_checks/riak_repl/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/riak-repl

#412 Adjust nomad collection interval to 10 seconds in install instructions
  nomad/README.md
Labels: changelog/no-changelog, integration/nomad

#447 [UPSC] Migrating configuration file to the new norm
  upsc/datadog_checks/upsc/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/upsc

#445 [Stardog] Migrating configuration file to the norm
  stardog/datadog_checks/stardog/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/stardog

#444 [SortDB] Migrating configuration file to the norm
  sortdb/datadog_checks/sortdb/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/sortdb

#435 [Neo4j] migrating configuration file to new norm
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/neo4j

#434 [Logstash] migrating configuration file to new norm
  logstash/datadog_checks/logstash/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/logstash

#431 [Filebeat] Migrating filebeat configuration file to the new norm
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/filebeat

#449 Configuration file Minor fixes
  nextcloud/datadog_checks/nextcloud/data/conf.yaml.example
  upsc/datadog_checks/upsc/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/nextcloud, integration/upsc

#448 [Storm] Migrating configuration file to the norm
  storm/datadog_checks/storm/data/conf.yaml.example
Labels: changelog/no-changelog, documentation, integration/storm

#450 [Bind9] Adding nsstats metrics desc
  bind9/README.md
  bind9/datadog_checks/bind9/data/conf.yaml.example
  bind9/metadata.csv
Labels: changelog/no-changelog, documentation, integration/bind9

#452 Update documentation for bind9 to be consistent with wheel installation
  bind9/README.md
Labels: documentation
