Repository DataDog/integrations-extras, pull requests merged in 2019-10, with the labels that each got.

#487 Fix storm link for tests
  storm/tests/compose/Dockerfile
Labels: changelog/no-changelog, integration/storm

#489 Updating LaunchDarkly integration docs
  launchdarkly/README.md
  launchdarkly/assets/images/ld-datadog-hover.gif
Labels: changelog/no-changelog, integration/launchdarkly

#491 Adding missing metrics
  nomad/metadata.csv
Labels: changelog/no-changelog, documentation, integration/nomad

#492 Remove Aerospike
  .azure-pipelines/all.yml
  .azure-pipelines/scripts/aerospike/linux/55_build_client.sh
  aerospike/README.md
  aerospike/assets/service_checks.json
  aerospike/check.py
  aerospike/ci/aerospike.rake
  aerospike/conf.yaml.example
  aerospike/manifest.json
  aerospike/metadata.csv
  aerospike/requirements.txt
  aerospike/test_aerospike.py
Labels: changelog/Changed, integration/aerospike

#500 Fix build badge
  README.md
Labels: changelog/no-changelog, dev/tooling
