Repository DataDog/integrations-extras, pull requests merged in 2019-08, with the labels that each got.

#473 Change codecov report to "files"
  .codecov.yml
Labels: changelog/no-changelog, dev/tooling

#464 Add Sendmail integration
  sendmail/CHANGELOG.md
  sendmail/MANIFEST.in
  sendmail/README.md
  sendmail/assets/service_checks.json
  sendmail/datadog_checks/__init__.py
  sendmail/datadog_checks/sendmail/__about__.py
  sendmail/datadog_checks/sendmail/__init__.py
  sendmail/datadog_checks/sendmail/data/conf.yaml.example
  sendmail/datadog_checks/sendmail/sendmail.py
  sendmail/logos/README.md
  sendmail/manifest.json
  sendmail/metadata.csv
  sendmail/requirements-dev.txt
  sendmail/requirements.in
  sendmail/setup.py
  sendmail/tests/__init__.py
  sendmail/tests/conftest.py
  sendmail/tests/test_sendmail.py
  sendmail/tox.ini
Labels: changelog/Added, integration/sendmail

#470 [ci run all] fixing tests for integrations-extras
  .travis.yml
  aws_pricing/datadog_checks/aws_pricing/aws_pricing.py
  bind9/datadog_checks/bind9/bind9.py
  gnatsd/tests/docker/config/script.sh
  hbase_master/test_hbase_master.py
  hbase_regionserver/test_hbase_regionserver.py
  lighthouse/datadog_checks/lighthouse/lighthouse.py
  sigsci/metadata.csv
  split/metadata.csv
Labels: changelog/no-changelog, dev/testing, integration/bind9, integration/gnatsd

#457 Ping check
  ping/CHANGELOG.md
  ping/MANIFEST.in
  ping/README.md
  ping/assets/service_checks.json
  ping/datadog_checks/__init__.py
  ping/datadog_checks/ping/__about__.py
  ping/datadog_checks/ping/__init__.py
  ping/datadog_checks/ping/data/conf.yaml.example
  ping/datadog_checks/ping/ping.py
  ping/logos/README.md
  ping/logos/avatars-bot.png
  ping/logos/saas_logos-bot.png
  ping/logos/saas_logos-small.png
  ping/manifest.json
  ping/metadata.csv
  ping/requirements-dev.txt
  ping/requirements.in
  ping/service_checks.json
  ping/setup.py
  ping/tests/__init__.py
  ping/tests/conftest.py
  ping/tests/test_ping.py
  ping/tox.ini
Labels: changelog/Added, integration/ping
