Repository DataDog/integrations-extras, pull requests merged in 2019-03, with the labels that each got.

#350 Upgrade ci to support Python 3
  .codecov.yml
  .coveragerc
  .travis.yml
  appveyor.yml
  aqua/tox.ini
  eventstore/datadog_checks/eventstore/eventstore.py
  eventstore/tox.ini
  nextcloud/tox.ini
  reboot_required/tox.ini
  sortdb/tox.ini
  traefik/tox.ini
Labels: dev/testing

#352 Fix connected but no active fullsync replication exception
  riak_repl/datadog_checks/riak_repl/riak_repl.py
Labels: changelog/Fixed, integration/riak-repl

#353 Update Aqua to reflect Log collection instruction
  aqua/README.md
  aqua/manifest.json
Labels: changelog/no-changelog, documentation

#346 Aerospike is now in integrations-core
  aerospike/README.md
Labels: documentation, integration/aerospike

#355 Support Python 3
  .travis.yml
  appveyor.yml
  traefik/README.md
  traefik/datadog_checks/traefik/data/conf.yaml.example
  traefik/datadog_checks/traefik/traefik.py
  traefik/manifest.json
  traefik/requirements.txt
  traefik/setup.py
  traefik/tests/common.py
  traefik/tests/conftest.py
  traefik/tests/docker-compose.yml
  traefik/tests/docker/docker-compose.yaml
  traefik/tests/docker/traefik.toml
  traefik/tests/test_check.py
  traefik/tox.ini
Labels: changelog/Added, integration/traefik

#357 Support Python 3
  aqua/README.md
  aqua/datadog_checks/aqua/aqua.py
  aqua/requirements.txt
  aqua/tests/common.py
  aqua/tests/conftest.py
  aqua/tests/fixtures/aqua_audit_metrics.json
  aqua/tests/fixtures/aqua_base_metrics.json
  aqua/tests/fixtures/aqua_hosts_metrics.json
  aqua/tests/fixtures/aqua_scan_queues_metrics.json
  aqua/tests/test_aqua.py
  aqua/tox.ini
Labels: changelog/Added, integration/aqua

#361 Port to wheel + PY3
  .travis.yml
  upsc/MANIFEST.in
  upsc/README.md
  upsc/ci/upsc.rake
  upsc/datadog_checks/__init__.py
  upsc/datadog_checks/upsc/__about__.py
  upsc/datadog_checks/upsc/__init__.py
  upsc/datadog_checks/upsc/data/conf.yaml.example
  upsc/datadog_checks/upsc/upsc.py
  upsc/logos/README.md
  upsc/manifest.json
  upsc/requirements-dev.txt
  upsc/requirements.in
  upsc/requirements.txt
  upsc/setup.py
  upsc/test_upsc.py
  upsc/tests/__init__.py
  upsc/tests/common.py
  upsc/tests/conftest.py
  upsc/tests/test_upsc.py
  upsc/tox.ini
Labels: changelog/Added, integration/upsc

#362 Support Python 3
  .travis.yml
  appveyor.yml
  eventstore/datadog_checks/eventstore/eventstore.py
  eventstore/requirements.txt
  eventstore/setup.py
  eventstore/tests/common.py
  eventstore/tests/conftest.py
  eventstore/tests/test_check.py
  eventstore/tox.ini
Labels: changelog/Added, integration/eventstore

#360 Support Python 3
  .travis.yml
  riak_repl/README.md
  riak_repl/datadog_checks/riak_repl/riak_repl.py
  riak_repl/setup.py
  riak_repl/tox.ini
Labels: changelog/Added, integration/riak-repl

#359 Support Python 3
  .travis.yml
  sortdb/README.md
  sortdb/datadog_checks/sortdb/check.py
  sortdb/requirements.txt
  sortdb/setup.py
  sortdb/tox.ini
Labels: changelog/Added, integration/sortdb

#364 Support Python 3
  .travis.yml
  reboot_required/README.md
  reboot_required/datadog_checks/reboot_required/reboot_required.py
  reboot_required/requirements.txt
  reboot_required/setup.py
  reboot_required/tests/common.py
  reboot_required/tests/conftest.py
  reboot_required/tests/test_reboot_required.py
  reboot_required/tests/utils.py
  reboot_required/tox.ini
Labels: changelog/Added, integration/reboot_required

#365 Migrate to wheels and Python3
  .travis.yml
  logstash/README.md
  logstash/ci/logstash.rake
  logstash/datadog_checks/__init__.py
  logstash/datadog_checks/logstash/__about__.py
  logstash/datadog_checks/logstash/__init__.py
  logstash/datadog_checks/logstash/data/conf.yaml.example
  logstash/datadog_checks/logstash/logstash.py
  logstash/requirements-dev.txt
  logstash/requirements.in
  logstash/requirements.txt
  logstash/setup.py
  logstash/tests/__init__.py
  logstash/tests/common.py
  logstash/tests/conftest.py
  logstash/tests/docker/docker-compose.yml
  logstash/tests/test_logstash.py
  logstash/tox.ini
Labels: changelog/Added, integration/logstash

#363 Migrate to wheels and py3
  .travis.yml
  neo4j/CHANGELOG.md
  neo4j/MANIFEST.in
  neo4j/check.py
  neo4j/ci/neo4j.rake
  neo4j/ci/neo4j.rake.template
  neo4j/datadog_checks/__init__.py
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/__init__.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/requirements-dev.txt
  neo4j/requirements.in
  neo4j/requirements.txt
  neo4j/setup.py
  neo4j/test_neo4j.py
  neo4j/tests/__init__.py
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose.yaml
  neo4j/tests/test_neo4j.py
  neo4j/tox.ini
Labels: changelog/Added, integration/neo4j

#367 [Stardog] readme
  stardog/README.md
Labels: changelog/no-changelog, documentation, integration/stardog

#369 Fixing list layout
  ambassador/README.md
Labels: changelog/no-changelog, documentation, integration/ambassador

#370 Port to wheels and PY3
  stardog/MANIFEST.in
  stardog/README.md
  stardog/ci/stardog.rake
  stardog/datadog_checks/__init__.py
  stardog/datadog_checks/stardog/__about__.py
  stardog/datadog_checks/stardog/__init__.py
  stardog/datadog_checks/stardog/data/conf.yaml.example
  stardog/datadog_checks/stardog/stardog.py
  stardog/manifest.json
  stardog/requirements-dev.txt
  stardog/requirements.in
  stardog/requirements.txt
  stardog/service_checks.json
  stardog/setup.py
  stardog/test_stardog.py
  stardog/tests/__init__.py
  stardog/tests/conftest.py
  stardog/tests/test_stardog.py
  stardog/tox.ini
Labels: changelog/Added, integration/stardog

#372 Port to wheels and Python3
  .travis.yml
  filebeat/MANIFEST.in
  filebeat/README.md
  filebeat/check.py
  filebeat/ci/filebeat.rake
  filebeat/datadog_checks/__init__.py
  filebeat/datadog_checks/filebeat/__about__.py
  filebeat/datadog_checks/filebeat/__init__.py
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/requirements-dev.txt
  filebeat/requirements.in
  filebeat/requirements.txt
  filebeat/setup.py
  filebeat/test_filebeat.py
  filebeat/tests/__init__.py
  filebeat/tests/common.py
  filebeat/tests/conftest.py
  filebeat/tests/docker/docker-compose.yaml
  filebeat/tests/fixtures/empty_registry.json
  filebeat/tests/fixtures/happy_path_legacy_format_registry.json
  filebeat/tests/fixtures/happy_path_registry.json
  filebeat/tests/fixtures/missing_source_file_registry.json
  filebeat/tests/fixtures/single_source_registry.json
  filebeat/tests/test_filebeat.py
  filebeat/tox.ini
Labels: changelog/Added, integration/filebeat

#371 Add style configuration
  .flake8
  pyproject.toml
Labels: changelog/no-changelog, dev/testing

#374 Fix a typo in README
  sortdb/README.md
Labels: changelog/no-changelog, documentation, integration/sortdb

#373 Update README
  neo4j/README.md
Labels: changelog/no-changelog, documentation, integration/neo4j

#375 Update README
  eventstore/README.md
Labels: changelog/no-changelog, documentation, integration/eventstore

#366 Convert storm to wheels
  .gitignore
  .travis.yml
  storm/MANIFEST.in
  storm/README.md
  storm/ci/.gitignore
  storm/ci/storm.rake
  storm/conf.yaml.example
  storm/datadog_checks/__init__.py
  storm/datadog_checks/storm/__about__.py
  storm/datadog_checks/storm/__init__.py
  storm/datadog_checks/storm/data/conf.yaml.example
  storm/datadog_checks/storm/storm.py
  storm/logos/README.md
  storm/logos/avatars-bot.png
  storm/logos/saas_logos-bot.png
  storm/logos/saas_logos-small.png
  storm/manifest.json
  storm/requirements-dev.txt
  storm/requirements.in
  storm/requirements.txt
  storm/setup.py
  storm/test_storm.py
  storm/tests/__init__.py
  storm/tests/common.py
  storm/tests/compose/Dockerfile
  storm/tests/compose/docker-compose.yaml
  storm/tests/conftest.py
  storm/tests/test_storm.py
  storm/tox.ini
Labels: changelog/Added, integration/storm

#368 Update packaging
  .travis.yml
  gnatsd/MANIFEST.in
  gnatsd/README.md
  gnatsd/datadog_checks/__init__.py
  gnatsd/datadog_checks/gnatsd/__about__.py
  gnatsd/datadog_checks/gnatsd/__init__.py
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/gnatsd.py
  gnatsd/manifest.json
  gnatsd/requirements-dev.txt
  gnatsd/requirements.in
  gnatsd/requirements.txt
  gnatsd/setup.py
  gnatsd/test_gnatsd.py
  gnatsd/tests/__init__.py
  gnatsd/tests/conftest.py
  gnatsd/tests/docker/config/Dockerfile
  gnatsd/tests/docker/config/script.sh
  gnatsd/tests/docker/docker-compose.yml
  gnatsd/tests/test_gnatsd.py
  gnatsd/tox.ini
Labels: changelog/Added, integration/gnatsd

#381 Aqua User / Pass cast to string
  aqua/datadog_checks/aqua/aqua.py
Labels: integration/aqua

#383 [Nextcloud] set to public
  nextcloud/manifest.json
Labels: changelog/no-changelog, documentation, integration/nextcloud
