Repository DataDog/integrations-extras, pull requests merged in 2020-11, with the labels that each got.

#748 Adding N2WS Backup and Recovery integration
  .github/CODEOWNERS
  n2ws/README.md
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion-areas.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Squaresdashboard.json
  n2ws/assets/service_checks.json
  n2ws/logos/.gitkeep
  n2ws/logos/N2WS Logo.svg
  n2ws/logos/N2WS-BlueLogo.png
  n2ws/manifest.json
  n2ws/metadata.csv
Labels: documentation, editorial review, integration/n2ws, kind/new-integration

#756 N2WS Dashboards update
  n2ws/assets/dashboards/N2WSBackup&Recovery-EntitiesSpecificDashboard.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion-areas.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Graphicalversion.json
  n2ws/assets/dashboards/N2WSBackup&Recovery-Squaresdashboard.json
  n2ws/manifest.json
Labels: changelog/no-changelog, integration/n2ws

#757 Appkeeper Integration
  .github/CODEOWNERS
  appkeeper/README.md
  appkeeper/assets/service_checks.json
  appkeeper/images/datadog_webhook.jpg
  appkeeper/images/get_token2.png
  appkeeper/images/payload_header.jpg
  appkeeper/manifest.json
  appkeeper/metadata.csv
Labels: editorial review, integration/appkeeper, kind/new-integration
