Repository DataDog/integrations-extras, pull requests merged in 2020-10, with the labels that each got.

#640 Puma ruby webserver integration
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  puma/CHANGELOG.md
  puma/MANIFEST.in
  puma/README.md
  puma/assets/configuration/spec.yaml
  puma/assets/service_checks.json
  puma/datadog_checks/__init__.py
  puma/datadog_checks/puma/__about__.py
  puma/datadog_checks/puma/__init__.py
  puma/datadog_checks/puma/data/conf.yaml.example
  puma/datadog_checks/puma/puma.py
  puma/manifest.json
  puma/metadata.csv
  puma/requirements-dev.txt
  puma/requirements.in
  puma/setup.py
  puma/tests/__init__.py
  puma/tests/conftest.py
  puma/tests/docker/Dockerfile
  puma/tests/docker/Gemfile
  puma/tests/docker/Gemfile.lock
  puma/tests/docker/config.ru
  puma/tests/docker/config/puma.rb
  puma/tests/docker/docker-compose.yml
  puma/tests/test_puma.py
  puma/tox.ini
Labels: editorial review

#733 Fix resin JMX metrics
  resin/datadog_checks/resin/data/conf.yaml.example
  resin/datadog_checks/resin/data/metrics.yaml
  resin/tests/conftest.py
  resin/tests/test_resin.py
Labels: changelog/Changed, integration/resin

#741 Normalize zabbix metric names
  zabbix/README.md
  zabbix/assets/configuration/spec.yaml
  zabbix/assets/service_checks.json
  zabbix/datadog_checks/zabbix/check.py
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/metrics.py
  zabbix/metadata.csv
  zabbix/tests/common.py
  zabbix/tests/compose/docker-compose.yml
  zabbix/tests/conftest.py
  zabbix/tests/test_integration.py
  zabbix/tox.ini
Labels: changelog/Added, integration/zabbix

#744 [documentation]Adding sigsci metrics table
  sigsci/README.md
Labels: changelog/no-changelog, documentation, integration/sigsci

#746 ProphetStor Federator.ai integration - wording changes for application-overview.json
  federatorai/assets/dashboards/application-overview.json
Labels: changelog/no-changelog, integration/federatorai

#747 Add service check to filebeat integration
  filebeat/CHANGELOG.md
  filebeat/README.md
  filebeat/assets/service_checks.json
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/tests/common.py
  filebeat/tests/conftest.py
  filebeat/tests/test_filebeat.py
Labels: changelog/Added, integration/filebeat

#727 Add Algorithmia integration
  .github/CODEOWNERS
  algorithmia/README.md
  algorithmia/assets/dashboards/algorithmia.json
  algorithmia/assets/monitors/algorithm_duration.json
  algorithmia/assets/service_checks.json
  algorithmia/images/.gitkeep
  algorithmia/images/algorithmia-insights-datadog.png
  algorithmia/images/algorithmia-logo.png
  algorithmia/manifest.json
  algorithmia/metadata.csv
Labels: editorial review

#751 Add header row to lacework metrics metadata csv file
  lacework/metadata.csv
Labels: changelog/no-changelog

#752 [documentation] rearranging content so it's not overwritten
  algorithmia/README.md
Labels: changelog/no-changelog, documentation, integration/algorithmia
