Repository DataDog/integrations-extras, pull requests merged in 2020-09, with the labels that each got.

#720 Update metadata.csv
  ping/metadata.csv
Labels: changelog/no-changelog, integration/ping

#721 Fix integration name in pihole metadata.csv
  pihole/metadata.csv
Labels: changelog/no-changelog, integration/pihole

#724 Fix response parsing
  storm/datadog_checks/storm/storm.py
Labels: changelog/Fixed, integration/storm

#725 [Release] Bumped storm version to 1.0.1
  storm/CHANGELOG.md
  storm/datadog_checks/storm/__about__.py
Labels: changelog/no-changelog, integration/storm
