Repository DataDog/integrations-extras, pull requests merged in 2020-06, with the labels that each got.

#614 [documentation] fixing broken steps, clarifying language
  amixr/README.md
Labels: changelog/no-changelog, documentation, integration/amixr

#618 Fix dashboard payload
  contrastsecurity/assets/dashboards/contrast_security_protect.json
Labels: changelog/Fixed, integration/contrastsecurity

#610 Add configuration specs and normalize metric name option
  filebeat/assets/configuration/spec.yaml
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/manifest.json
  filebeat/tests/test_filebeat.py
Labels: changelog/Added, integration/filebeat

#620 Add link to developer docs
  README.md
Labels: changelog/no-changelog, documentation

#621 Fix link in README
  federatorai/README.md
Labels: changelog/no-changelog, documentation, integration/federatorai

#622 Export dashboard for /screen
  federatorai/assets/dashboards/overview.json
Labels: changelog/no-changelog, integration/federatorai

#623 Update Federator.ai integration
  federatorai/README.md
  federatorai/images/dashboard_overview.png
  federatorai/images/dashboard_recommended_replicas.png
  federatorai/manifest.json
Labels: changelog/no-changelog, integration/federatorai

#619 add speedtest-cli integration
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  speedtest/CHANGELOG.md
  speedtest/MANIFEST.in
  speedtest/README.md
  speedtest/assets/configuration/spec.yaml
  speedtest/assets/service_checks.json
  speedtest/datadog_checks/__init__.py
  speedtest/datadog_checks/speedtest/__about__.py
  speedtest/datadog_checks/speedtest/__init__.py
  speedtest/datadog_checks/speedtest/check.py
  speedtest/datadog_checks/speedtest/data/conf.yaml.example
  speedtest/datadog_checks/speedtest/speedtest.py
  speedtest/manifest.json
  speedtest/metadata.csv
  speedtest/requirements-dev.txt
  speedtest/requirements.in
  speedtest/setup.py
  speedtest/tests/__init__.py
  speedtest/tests/conftest.py
  speedtest/tests/test_speedtest.py
  speedtest/tox.ini
Labels: kind/new-integration

#628 Readme setup typo fix
  nomad/README.md
Labels: changelog/no-changelog

#629 Nomad metrics units corrections
  nomad/metadata.csv
Labels: changelog/no-changelog

#597 Version update
  lighthouse/CHANGELOG.md
  lighthouse/datadog_checks/lighthouse/__about__.py
  lighthouse/manifest.json
Labels: changelog/no-changelog, integration/lighthouse
