Repository DataDog/integrations-extras, pull requests merged in 2020-05, with the labels that each got.

#590 Fixes fixes possible TypeError if `score` exist with a `null` value
  lighthouse/datadog_checks/lighthouse/lighthouse.py
Labels: changelog/Fixed, integration/lighthouse

#594 Updates documentation
  lighthouse/README.md
Labels: changelog/no-changelog, documentation, integration/lighthouse

#595 Allow for additional chrome-flags
  lighthouse/datadog_checks/lighthouse/data/conf.yaml.example
  lighthouse/datadog_checks/lighthouse/lighthouse.py
Labels: changelog/Added, integration/lighthouse

#596 Using doc canonical links
  ambassador/README.md
  apollo/README.md
  aqua/README.md
  auth0/README.md
  aws_pricing/README.md
  bind9/README.md
  bonsai/README.md
  buddy/README.md
  cert_manager/README.md
  concourse_ci/README.md
  convox/README.md
  eventstore/README.md
  filebeat/README.md
  gnatsd/README.md
  gnatsd_streaming/README.md
  gremlin/README.md
  hbase_master/README.md
  hbase_regionserver/README.md
  lacework/README.md
  lighthouse/README.md
  logstash/README.md
  logzio/README.md
  neo4j/README.md
  neutrona/README.md
  nextcloud/README.md
  nomad/README.md
  pihole/README.md
  ping/README.md
  portworx/README.md
  rbltracker/README.md
  reboot_required/README.md
  redis_sentinel/README.md
  resin/README.md
  riak_repl/README.md
  rookout/README.md
  rundeck/README.md
  sendmail/README.md
  sigsci/README.md
  snmpwalk/README.md
  sortdb/README.md
  split/README.md
  stardog/README.md
  storm/README.md
  traefik/README.md
  unbound/README.md
  upsc/README.md
  uptime/README.md
  vespa/README.md
  vns3/README.md
Labels: changelog/no-changelog, documentation

#567 nvml: support nvidia GPU metrics in k8s
  .azure-pipelines/all.yml
  .github/CODEOWNERS
  nvml/CHANGELOG.md
  nvml/MANIFEST.in
  nvml/README.md
  nvml/assets/configuration/spec.yaml
  nvml/assets/service_checks.json
  nvml/datadog_checks/__init__.py
  nvml/datadog_checks/nvml/__about__.py
  nvml/datadog_checks/nvml/__init__.py
  nvml/datadog_checks/nvml/api.proto
  nvml/datadog_checks/nvml/api_pb2.py
  nvml/datadog_checks/nvml/api_pb2_grpc.py
  nvml/datadog_checks/nvml/data/conf.yaml.example
  nvml/datadog_checks/nvml/nvml.py
  nvml/manifest.json
  nvml/metadata.csv
  nvml/requirements-dev.txt
  nvml/requirements.in
  nvml/setup.py
  nvml/tests/Dockerfile
  nvml/tests/__init__.py
  nvml/tests/conftest.py
  nvml/tests/test_nvml.py
  nvml/tox.ini
Labels: editorial review

#600 Corrects typo in example file
  lighthouse/datadog_checks/lighthouse/data/conf.yaml.example
Labels: changelog/no-changelog, integration/lighthouse

#602 Rename DataDog to Datadog in docs
  configcat/README.md
  configcat/manifest.json
Labels: changelog/no-changelog
