Repository DataDog/integrations-extras, pull requests merged in 2020-03, with the labels that each got.

#553 Wording update
  rookout/README.md
Labels: changelog/no-changelog, documentation, integration/rookout

#557 Replacing baklava with documentation team
  .github/CODEOWNERS
Labels: changelog/no-changelog, documentation

#554 Adding alias
  apollo/manifest.json
Labels: changelog/no-changelog, documentation, integration/apollo

#546 Add metrics from multiple API endpoints
  eventstore/CHANGELOG.md
  eventstore/README.md
  eventstore/datadog_checks/eventstore/__about__.py
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/eventstore.py
  eventstore/datadog_checks/eventstore/metrics.py
  eventstore/metadata.csv
  eventstore/tests/compose/docker-compose.yml
  eventstore/tests/compose/subscription.sh
  eventstore/tests/conftest.py
  eventstore/tests/test_check.py
  eventstore/tox.ini
Labels: changelog/Added, integration/eventstore

#548 Fix "time<0"
  ping/datadog_checks/ping/ping.py
Labels: changelog/Fixed, integration/ping

#565 Configure mypy
  .gitignore
  mypy.ini
Labels: changelog/no-changelog, dev/tooling
