Repository DataDog/integrations-extras, pull requests merged in 2020-07, with the labels that each got.

#636 Set integration public
  federatorai/manifest.json
Labels: integration/federatorai

#662 Fix warning regarding ABC import from collections
  filebeat/datadog_checks/filebeat/filebeat.py
Labels: changelog/Fixed, integration/filebeat

#657 Adding Dashboard and some README updates
  perimeterx/README.md
  perimeterx/assets/dashboards/PerimeterX_Bot_Defender_Dashboard.json
Labels: integration/sleuth
