Repository DataDog/integrations-extras, pull requests merged in 2020-01, with the labels that each got.

#514 [Docs] Update graphing section links
  buddy/README.md
  rbltracker/README.md
  sigsci/README.md
  split/README.md
Labels: changelog/no-changelog, documentation

#517 spelling and format changes
  contrastsecurity/README.md
Labels: changelog/no-changelog, documentation

#507 New integration for cert-manager
  cert_manager/CHANGELOG.md
  cert_manager/MANIFEST.in
  cert_manager/README.md
  cert_manager/assets/service_checks.json
  cert_manager/datadog_checks/__init__.py
  cert_manager/datadog_checks/cert_manager/__about__.py
  cert_manager/datadog_checks/cert_manager/__init__.py
  cert_manager/datadog_checks/cert_manager/cert_manager.py
  cert_manager/datadog_checks/cert_manager/data/auto_conf.yaml
  cert_manager/datadog_checks/cert_manager/data/conf.yaml.example
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/manifest.json
  cert_manager/metadata.csv
  cert_manager/requirements-dev.txt
  cert_manager/requirements.in
  cert_manager/setup.py
  cert_manager/tests/__init__.py
  cert_manager/tests/common.py
  cert_manager/tests/conftest.py
  cert_manager/tests/fixtures/cert_manager.txt
  cert_manager/tests/test_cert_manager.py
  cert_manager/tox.ini
Labels: changelog/Added, kind/new-integration

#520 Fix storm metadata naming
  storm/metadata.csv
Labels: changelog/no-changelog, integration/storm

#519 Remove image license
  aws_pricing/README.md
  aws_pricing/assets/logos/avatars-bot.png
  aws_pricing/assets/logos/saas_logos-bot.png
  aws_pricing/assets/logos/saas_logos-small.png
Labels: changelog/no-changelog, documentation, integration/aws_pricing

#521 Fix doc link
  aws_pricing/README.md
Labels: changelog/no-changelog, documentation, integration/aws_pricing

#525 Fix neo4j test
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose.yaml
  neo4j/tox.ini
Labels: changelog/no-changelog, integration/neo4j

#522 Use lazy log format
  .flake8
  aqua/datadog_checks/aqua/aqua.py
  eventstore/datadog_checks/eventstore/eventstore.py
  filebeat/datadog_checks/filebeat/filebeat.py
  lighthouse/datadog_checks/lighthouse/__init__.py
  lighthouse/datadog_checks/lighthouse/lighthouse.py
  lighthouse/setup.py
  lighthouse/tests/test_lighthouse.py
  lighthouse/tox.ini
  logstash/datadog_checks/logstash/logstash.py
  neo4j/datadog_checks/neo4j/neo4j.py
  nextcloud/datadog_checks/nextcloud/nextcloud.py
  ping/datadog_checks/ping/ping.py
  redis_sentinel/datadog_checks/redis_sentinel/redis_sentinel.py
  riak_repl/datadog_checks/riak_repl/riak_repl.py
  sendmail/datadog_checks/sendmail/sendmail.py
  snmpwalk/datadog_checks/snmpwalk/snmpwalk.py
  sortdb/datadog_checks/sortdb/check.py
  stardog/datadog_checks/stardog/stardog.py
  storm/datadog_checks/storm/storm.py
  traefik/datadog_checks/traefik/traefik.py
  unbound/datadog_checks/unbound/unbound.py
  unbound/tests/conftest.py
  upsc/datadog_checks/upsc/upsc.py
  vespa/datadog_checks/vespa/vespa.py
Labels: changelog/Added, integration/aqua, integration/eventstore, integration/filebeat, integration/lighthouse, integration/logstash, integration/neo4j, integration/nextcloud, integration/ping, integration/redis_sentinel, integration/riak-repl, integration/sendmail, integration/snmpwalk, integration/sortdb, integration/stardog, integration/storm, integration/traefik, integration/vespa

#524 [Apollo] Wording update
  apollo/README.md
Labels: changelog/no-changelog, documentation

#527 [Docs] Spelling and Description Edits for Nomad Integration
  nomad/metadata.csv
Labels: documentation
