Repository DataDog/integrations-extras, pull requests merged in 2020-02, with the labels that each got.

#529 Fix check structure
  .azure-pipelines/all.yml
  contrastsecurity/MANIFEST.in
  contrastsecurity/datadog_checks/contrastsecurity/__about__.py
  contrastsecurity/datadog_checks/contrastsecurity/__init__.py
  contrastsecurity/datadog_checks/contrastsecurity/conf.yaml.example
  contrastsecurity/requirements-dev.txt
  contrastsecurity/requirements.in
  contrastsecurity/setup.py
  contrastsecurity/tox.ini
Labels: changelog/Fixed, integration/contrastsecurity

#539 Traefik configuration now allows scheme parameter
  traefik/CHANGELOG.md
  traefik/README.md
  traefik/datadog_checks/traefik/__about__.py
  traefik/datadog_checks/traefik/data/conf.yaml.example
  traefik/datadog_checks/traefik/traefik.py
  traefik/manifest.json
  traefik/tests/common.py
  traefik/tests/conftest.py
Labels: changelog/Added, integration/traefik

#545 [DOCS-693] Placeholder fix
  apollo/README.md
Labels: changelog/no-changelog, documentation, integration/apollo
