Repository DataDog/integrations-extras, pull requests merged in 2020-12, with the labels that each got.

#764 DOCS-1447 N2WS
  n2ws/README.md
Labels: changelog/no-changelog, documentation, integration/n2ws

#762 Flagsmith integration
  .github/CODEOWNERS
  flagsmith/README.md
  flagsmith/assets/service_checks.json
  flagsmith/images/.gitkeep
  flagsmith/images/add_integration.png
  flagsmith/images/add_integration_details.png
  flagsmith/images/datadog_event_viewer.png
  flagsmith/manifest.json
  flagsmith/metadata.csv
Labels: integration/flagsmith, kind/new-integration

#770 Revert n2w docs updates
  n2ws/README.md
Labels: changelog/no-changelog, documentation, integration/n2ws

#774 Sync jmx configurations
  flume/datadog_checks/flume/data/conf.yaml.example
  hbase_master/datadog_checks/hbase_master/data/conf.yaml.example
  hbase_regionserver/datadog_checks/hbase_regionserver/data/conf.yaml.example
  resin/datadog_checks/resin/data/conf.yaml.example
Labels: changelog/Added, integration/flume, integration/hbase_master, integration/hbase_regionserver, integration/resin

#775 Add header to flagsmith metadata
  flagsmith/metadata.csv
Labels: changelog/no-changelog, integration/flagsmith

#766 php APCu Integration.
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  php_apcu/CHANGELOG.md
  php_apcu/MANIFEST.in
  php_apcu/README.md
  php_apcu/assets/configuration/spec.yaml
  php_apcu/assets/dashboards/php_apcu_overview.json
  php_apcu/assets/monitors/php-apcu_expunges.json
  php_apcu/assets/monitors/php-apcu_high_usage.json
  php_apcu/assets/service_checks.json
  php_apcu/datadog_checks/__init__.py
  php_apcu/datadog_checks/php_apcu/__about__.py
  php_apcu/datadog_checks/php_apcu/__init__.py
  php_apcu/datadog_checks/php_apcu/assets/exporter/apcu-dd-handler.php
  php_apcu/datadog_checks/php_apcu/check.py
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_apcu/images/.gitkeep
  php_apcu/manifest.json
  php_apcu/metadata.csv
  php_apcu/requirements-dev.txt
  php_apcu/requirements.in
  php_apcu/setup.py
  php_apcu/tests/__init__.py
  php_apcu/tests/common.py
  php_apcu/tests/conftest.py
  php_apcu/tests/docker-compose.yml
  php_apcu/tests/php_apcu/Dockerfile
  php_apcu/tests/php_apcu/src/apcu-dd-handler.php
  php_apcu/tests/test_php_apcu.py
  php_apcu/tox.ini
Labels: integration/php_apcu, kind/new-integration

#773 Update nomad README
  nomad/README.md
  nomad/images/dashboard_overview.png
Labels: changelog/no-changelog, integration/nomad

#706 Pulsar
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  pulsar/CHANGELOG.md
  pulsar/MANIFEST.in
  pulsar/README.md
  pulsar/assets/configuration/spec.yaml
  pulsar/assets/service_checks.json
  pulsar/datadog_checks/__init__.py
  pulsar/datadog_checks/pulsar/__about__.py
  pulsar/datadog_checks/pulsar/__init__.py
  pulsar/datadog_checks/pulsar/check.py
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  pulsar/manifest.json
  pulsar/metadata.csv
  pulsar/requirements-dev.txt
  pulsar/requirements.in
  pulsar/setup.py
  pulsar/tests/__init__.py
  pulsar/tests/conftest.py
  pulsar/tests/fixtures/agent_metrics.txt
  pulsar/tests/test_pulsar.py
  pulsar/tox.ini
Labels: editorial review

#776 New Integration for PHP OPcache
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  php_opcache/CHANGELOG.md
  php_opcache/MANIFEST.in
  php_opcache/README.md
  php_opcache/assets/configuration/spec.yaml
  php_opcache/assets/monitors/php-opcache_expunges.json
  php_opcache/assets/service_checks.json
  php_opcache/datadog_checks/__init__.py
  php_opcache/datadog_checks/php_opcache/__about__.py
  php_opcache/datadog_checks/php_opcache/__init__.py
  php_opcache/datadog_checks/php_opcache/assets/exporter/opcache-dd-handler.php
  php_opcache/datadog_checks/php_opcache/check.py
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  php_opcache/images/.gitkeep
  php_opcache/manifest.json
  php_opcache/metadata.csv
  php_opcache/requirements-dev.txt
  php_opcache/requirements.in
  php_opcache/setup.py
  php_opcache/tests/__init__.py
  php_opcache/tests/common.py
  php_opcache/tests/conftest.py
  php_opcache/tests/docker-compose.yml
  php_opcache/tests/php_opcache/Dockerfile
  php_opcache/tests/php_opcache/opcache.ini
  php_opcache/tests/php_opcache/src/opcache-dd-handler.php
  php_opcache/tests/test_php_opcache.py
  php_opcache/tox.ini
Labels: integration/php_opcache
