Repository DataDog/integrations-extras, pull requests merged in 2021-08, with the labels that each got.

#948 Make all manifest versions 1.0.0
  apollo/manifest.json
  buddy/manifest.json
  convox/manifest.json
  eventstore/manifest.json
  jfrog_platform/manifest.json
  launchdarkly/manifest.json
  lighthouse/manifest.json
  logzio/manifest.json
  nvml/manifest.json
  rbltracker/manifest.json
  redis_sentinel/manifest.json
  split/manifest.json
  traefik/manifest.json
  vns3/manifest.json
Labels: changelog/no-changelog

#951 Handle the use case where no databases have been created
  redisenterprise/CHANGELOG.md
  redisenterprise/README.md
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/images/ROF_dashboard.png
  redisenterprise/images/dashboard.png
  redisenterprise/images/datadog_cluster_top_view.png
  redisenterprise/images/events.png
Labels: changelog/Fixed

#962 Add option to ignore filebeat registry file check
  filebeat/CHANGELOG.md
  filebeat/assets/configuration/spec.yaml
  filebeat/datadog_checks/filebeat/__about__.py
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/tests/fixtures/malformed_json_registry.json
  filebeat/tests/test_filebeat.py
Labels: changelog/Added, integration/filebeat

#970 DOCS-1135 Update integration install instructions (part 4)
  kernelcare/README.md
  lighthouse/README.md
  logstash/README.md
  neutrona/README.md
  nextcloud/README.md
Labels: documentation, changelog/no-changelog, integration/logstash, integration/nextcloud, integration/lighthouse, integration/kernelcare, integration/neutrona

#968 DOCS-1135 Update integration install instructions (part 3)
  flume/README.md
  gnatsd/README.md
  gnatsd_streaming/README.md
  hbase_master/README.md
  hbase_regionserver/README.md
Labels: documentation, changelog/no-changelog, integration/gnatsd, integration/gnatsd_streaming, integration/hbase_regionserver, integration/hbase_master, integration/flume
