Repository DataDog/integrations-extras, pull requests merged in 2021-06, with the labels that each got.

#894 Update neo4j check to use requests wrapper
  neo4j/assets/configuration/spec.yaml
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/manifest.json
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose.yaml
  neo4j/tests/test_neo4j.py
Labels: changelog/Added

#903 Version update for cashed data bug fix
  ns1/README.md
  ns1/datadog_checks/ns1/__about__.py
Labels: integration/ns1

#902 Update Filebeat to use request wrapper
  filebeat/assets/configuration/spec.yaml
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/filebeat.py
  filebeat/tests/test_filebeat.py
Labels: changelog/Added

#906 [documentation] removing the text that is breaking the automation
  statsig/README.md
Labels: changelog/no-changelog, documentation, integration/statsig

#905 Updated the dashboard to have the correct metrics
  postman/assets/dashboards/overview.json
Labels: integration/postman

#912 Fix log collection
  auth0/README.md
  contrastsecurity/README.md
  jfrog_platform/README.md
  lacework/README.md
  octoprint/manifest.json
  pihole/README.md
  pihole/manifest.json
  resin/README.md
  resin/manifest.json
Labels: integration/auth0, integration/contrastsecurity, integration/jfrog_platform, integration/lacework, integration/octoprint, integration/pihole, integration/resin

#914 Add dead letter queue size metric
  logstash/datadog_checks/logstash/logstash.py
  logstash/metadata.csv
  logstash/tests/conftest.py
  logstash/tests/docker/logstash5/docker-compose.yml
  logstash/tests/docker/logstash5/logstash.yml
  logstash/tests/docker/logstash6/docker-compose.yml
  logstash/tests/docker/logstash7/docker-compose.yml
  logstash/tests/test_logstash.py
Labels: changelog/Added, integration/logstash
