Repository DataDog/integrations-extras, pull requests merged in 2021-07, with the labels that each got.

#925 Pin docker images
  zabbix/tests/compose/docker-compose.yml
Labels: changelog/no-changelog, integration/zabbix

#924 Skip tag name checking
  php_apcu/tox.ini
Labels: changelog/no-changelog, integration/php_apcu

#927 Use new JMX metrics
  flume/tests/metrics.py
Labels: changelog/no-changelog, integration/flume

#928 Skip generic tag checking
  vespa/tox.ini
Labels: changelog/no-changelog, integration/vespa

#931 Make assertions optional
  zabbix/tests/test_integration.py
Labels: changelog/no-changelog, integration/zabbix

#929 fix resin tests
  resin/tests/conftest.py
  resin/tests/test_resin.py
Labels: changelog/no-changelog, integration/resin

#930 fix riak tests
  riak_repl/tests/conftest.py
  riak_repl/tests/test_check.py
Labels: changelog/no-changelog, integration/riak-repl

#935 Update federatorai integration
  federatorai/README.md
  federatorai/images/add_cluster_window.png
  federatorai/images/plus_icon.png
Labels: changelog/no-changelog, documentation, integration/federatorai

#938 Use https for downloading
  resin/tests/docker/Dockerfile
Labels: changelog/no-changelog, dev/testing

#849 Add integration for Redislabs Enterprise Redis product
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  redisenterprise/CHANGELOG.md
  redisenterprise/MANIFEST.in
  redisenterprise/README.md
  redisenterprise/assets/configuration/spec.yaml
  redisenterprise/assets/dashboards/redisenterprise_cluster_top_view.json
  redisenterprise/assets/dashboards/redisenterprise_overview.json
  redisenterprise/assets/dashboards/redisenterprise_rof.json
  redisenterprise/assets/service_checks.json
  redisenterprise/datadog_checks/__init__.py
  redisenterprise/datadog_checks/redisenterprise/__about__.py
  redisenterprise/datadog_checks/redisenterprise/__init__.py
  redisenterprise/datadog_checks/redisenterprise/check.py
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redisenterprise/images/.gitkeep
  redisenterprise/images/ROF_dashboard.png
  redisenterprise/images/dashboard.png
  redisenterprise/images/datadog_cluster_top_view.png
  redisenterprise/images/events.png
  redisenterprise/images/redis-enterprise.jpg
  redisenterprise/images/redislabs-logo.png
  redisenterprise/manifest.json
  redisenterprise/metadata.csv
  redisenterprise/requirements-dev.txt
  redisenterprise/requirements.in
  redisenterprise/setup.py
  redisenterprise/tests/__init__.py
  redisenterprise/tests/conftest.py
  redisenterprise/tests/docker-compose.yml
  redisenterprise/tests/test_redisenterprise.py
  redisenterprise/tox.ini
Labels: editorial review, integration/redisenterprise, kind/new-integration

#941 Update config files
  cyral/datadog_checks/cyral/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
Labels: changelog/no-changelog, documentation

#940 Fix flaky resin
  resin/tests/conftest.py
  resin/tests/test_resin.py
Labels: changelog/no-changelog, dev/testing

#945 [documentation] Postman clarification
  postman/README.md
Labels: changelog/no-changelog, documentation, integration/postman
