Repository DataDog/integrations-extras, pull requests merged in 2021-04, with the labels that each got.

#836 Add average_response_time_sec to traefik integration
  traefik/datadog_checks/traefik/traefik.py
Labels: changelog/Added, integration/traefik

#837 Ensure all integrations that emmit metrics define a metric_to_check
  aqua/manifest.json
  aws_pricing/manifest.json
  flume/manifest.json
  neutrona/manifest.json
  pihole/manifest.json
  riak_repl/manifest.json
  unbound/manifest.json
  zabbix/manifest.json
  zabbix/metadata.csv
Labels: changelog/no-changelog, integration/aqua, integration/aws_pricing, integration/flume, integration/neutrona, integration/pihole, integration/riak-repl, integration/unbound, integration/zabbix

#838 Fix aws pricing prefix
  aws_pricing/manifest.json
Labels: changelog/no-changelog, integration/aws_pricing

#825 Postman's Datadog Integration, initial draft
  .github/CODEOWNERS
  postman/README.md
  postman/assets/dashboards/overview.json
  postman/assets/logos/postman-logo-horizontal.svg
  postman/assets/service_checks.json
  postman/images/.gitkeep
  postman/images/add-integration-datadog.jpeg
  postman/manifest.json
  postman/metadata.csv
Labels: do-not-merge/HOLD, integration/postman, kind/new-integration

#846 N2WS Backup & Recovery version 4.0 (with Azure) updates
  n2ws/README.md
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-BackupSuccessRates(ColumnGraphs).json
  n2ws/assets/dashboards/N2WSBackup&RecoveryV4.0-EntityTypesDetails.json
  n2ws/manifest.json
  n2ws/metadata.csv
Labels: changelog/no-changelog, integration/n2ws
