Repository DataDog/integrations-extras, pull requests merged in 2021-11, with the labels that each got.

#1061 Make HCP Vault public
  hcp_vault/manifest.json
Labels: changelog/no-changelog

#1055 Change cert_manager.clock_time type to gauge
  cert_manager/datadog_checks/cert_manager/cert_manager.py
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/metadata.csv
  cert_manager/tests/common.py
Labels: changelog/Fixed, integration/cert-manager

#1058 Add .kube folder and .python-version to .gitignore
  .gitignore
Labels: changelog/no-changelog

#1063 Add days to certificate expiration widget to default dashboard
  cert_manager/assets/dashboards/certmanager_overview.json
  cert_manager/images/overview_dashboard.png
  cert_manager/tests/kubernetes/acme.yaml
  cert_manager/tests/kubernetes/nginx.yaml
Labels: changelog/Added, integration/cert-manager

#1064 Release cert_manager integration 2.2.0
  cert_manager/CHANGELOG.md
  cert_manager/datadog_checks/cert_manager/__about__.py
Labels: changelog/no-changelog, integration/cert-manager

#1065 Fix dashboard formula
  cert_manager/assets/dashboards/certmanager_overview.json
Labels: changelog/no-changelog, integration/cert-manager

#1027 TiDB: reduced configuration complexity and fixed a bug that may cause instance metrics lost
  tidb/CHANGELOG.md
  tidb/DEVELOPMENT.md
  tidb/README.md
  tidb/assets/configuration/spec.yaml
  tidb/assets/dashboards/overview.json
  tidb/assets/monitors/monitor_tidb_health.json
  tidb/assets/service_checks.json
  tidb/datadog_checks/tidb/__about__.py
  tidb/datadog_checks/tidb/check.py
  tidb/datadog_checks/tidb/data/auto_conf.yaml
  tidb/datadog_checks/tidb/data/conf.yaml.example
  tidb/datadog_checks/tidb/metrics.py
  tidb/datadog_checks/tidb/utils.py
  tidb/manifest.json
  tidb/metadata.csv
  tidb/tests/compose/docker-compose.yml
  tidb/tests/conftest.py
  tidb/tests/expected.py
  tidb/tests/fixtures/mock_pd_metrics.txt
  tidb/tests/fixtures/mock_tidb_metrics.txt
  tidb/tests/fixtures/mock_tikv_metrics.txt
  tidb/tests/fixtures/tidb-ddagent.dockerfile
  tidb/tests/test_tidb.py
Labels: editorial review

#1020 Redpanda
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  redpanda/CHANGELOG.md
  redpanda/MANIFEST.in
  redpanda/README.md
  redpanda/assets/configuration/spec.yaml
  redpanda/assets/dashboards/overview.json
  redpanda/assets/service_checks.json
  redpanda/datadog_checks/__init__.py
  redpanda/datadog_checks/redpanda/__about__.py
  redpanda/datadog_checks/redpanda/__init__.py
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/datadog_checks/redpanda/redpanda.py
  redpanda/manifest.json
  redpanda/metadata.csv
  redpanda/requirements-dev.txt
  redpanda/requirements.in
  redpanda/setup.py
  redpanda/tests/__init__.py
  redpanda/tests/common.py
  redpanda/tests/conftest.py
  redpanda/tests/docker/docker-compose.yaml
  redpanda/tests/fixtures/redpanda_metrics.txt
  redpanda/tests/test_redpanda.py
  redpanda/tox.ini
Labels: editorial review

#1077 Bump zabbix to 1.1.0
  zabbix/CHANGELOG.md
  zabbix/datadog_checks/zabbix/__about__.py
Labels: changelog/no-changelog, integration/zabbix

#1073 Use requests wrapper
  nextcloud/datadog_checks/nextcloud/nextcloud.py
  nextcloud/tests/test_nextcloud.py
Labels: changelog/Added

#1082 Use requests wrapper
  riak_repl/datadog_checks/riak_repl/riak_repl.py
Labels: changelog/Added, integration/riak-repl

#1093 Disable docs
  calico/datadog_checks/calico/data/conf.yaml.example
  calico/manifest.json
Labels: changelog/no-changelog, integration/calico
