Repository DataDog/integrations-extras, pull requests merged in 2021-01, with the labels that each got.

#785 DOCS-1455 Update Integration type
  algorithmia/manifest.json
  amixr/manifest.json
  appkeeper/manifest.json
  auth0/manifest.json
  bluematador/manifest.json
  botprise/manifest.json
  buddy/manifest.json
  concourse_ci/manifest.json
  configcat/manifest.json
  convox/README.md
  convox/manifest.json
  federatorai/manifest.json
  flagsmith/manifest.json
  gremlin/manifest.json
  jfrog_platform/manifest.json
  k6/manifest.json
  lacework/manifest.json
  launchdarkly/manifest.json
  logzio/manifest.json
  n2ws/manifest.json
  perimeterx/manifest.json
  pliant/manifest.json
  rbltracker/manifest.json
  rigor/manifest.json
  rookout/manifest.json
  rundeck/manifest.json
  sigsci/manifest.json
  sleuth/manifest.json
  split/manifest.json
  squadcast/manifest.json
  uptime/manifest.json
  vns3/manifest.json
Labels: changelog/no-changelog, documentation

#783 New integration: Gatekeeper
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  gatekeeper/CHANGELOG.md
  gatekeeper/MANIFEST.in
  gatekeeper/README.md
  gatekeeper/assets/configuration/spec.yaml
  gatekeeper/assets/dashboards/gatekeeper_overview.json
  gatekeeper/assets/service_checks.json
  gatekeeper/datadog_checks/__init__.py
  gatekeeper/datadog_checks/gatekeeper/__about__.py
  gatekeeper/datadog_checks/gatekeeper/__init__.py
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/gatekeeper.py
  gatekeeper/datadog_checks/gatekeeper/metrics.py
  gatekeeper/manifest.json
  gatekeeper/metadata.csv
  gatekeeper/requirements-dev.txt
  gatekeeper/requirements.in
  gatekeeper/setup.py
  gatekeeper/tests/__init__.py
  gatekeeper/tests/common.py
  gatekeeper/tests/conftest.py
  gatekeeper/tests/fixtures/gatekeeper_audit.txt
  gatekeeper/tests/fixtures/gatekeeper_controller.txt
  gatekeeper/tests/test_gatekeeper.py
  gatekeeper/tox.ini
Labels: changelog/Added, editorial review, integration/gatekeeper, kind/new-integration

#771 New integration for Open Policy Agent
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  open_policy_agent/CHANGELOG.md
  open_policy_agent/MANIFEST.in
  open_policy_agent/README.md
  open_policy_agent/assets/configuration/spec.yaml
  open_policy_agent/assets/dashboards/open_policy_agent_overview.json
  open_policy_agent/assets/service_checks.json
  open_policy_agent/datadog_checks/__init__.py
  open_policy_agent/datadog_checks/open_policy_agent/__about__.py
  open_policy_agent/datadog_checks/open_policy_agent/__init__.py
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/metrics.py
  open_policy_agent/datadog_checks/open_policy_agent/open_policy_agent.py
  open_policy_agent/images/.gitkeep
  open_policy_agent/images/allowed_facet.png
  open_policy_agent/images/kind_facet.png
  open_policy_agent/images/metric.png
  open_policy_agent/images/msg_facet.png
  open_policy_agent/manifest.json
  open_policy_agent/metadata.csv
  open_policy_agent/requirements-dev.txt
  open_policy_agent/requirements.in
  open_policy_agent/setup.py
  open_policy_agent/tests/__init__.py
  open_policy_agent/tests/common.py
  open_policy_agent/tests/conftest.py
  open_policy_agent/tests/docker-compose.yml
  open_policy_agent/tests/fixtures/open_policy_agent.txt
  open_policy_agent/tests/test_open_policy_agent.py
  open_policy_agent/tox.ini
Labels: changelog/Added, editorial review, kind/new-integration
