Repository DataDog/integrations-extras, pull requests merged in 2021-03, with the labels that each got.

#807 SIGNL4 Alerting Added
  .github/CODEOWNERS
  signl4/CHANGELOG.md
  signl4/README.md
  signl4/assets/service_checks.json
  signl4/images/datadog-webhook.png
  signl4/images/signl4-phone.png
  signl4/manifest.json
  signl4/metadata.csv
Labels: integration/signl4, kind/new-integration

#821 Add E2E tests for gatekeeper
  gatekeeper/tests/conftest.py
  gatekeeper/tests/kubernetes/constraintsample.yaml
  gatekeeper/tests/kubernetes/constrainttemplate.yaml
  gatekeeper/tests/test_e2e.py
  gatekeeper/tox.ini
Labels: changelog/no-changelog, dev/testing, integration/gatekeeper

#822 Add dashboard screenshot to Gatekeeper docs
  gatekeeper/README.md
  gatekeeper/images/gatekeeper_dashboard.png
Labels: changelog/no-changelog

#763 New integration for OctoPrint
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  octoprint/CHANGELOG.md
  octoprint/MANIFEST.in
  octoprint/README.md
  octoprint/assets/configuration/spec.yaml
  octoprint/assets/dashboards/octoprint_overview.json
  octoprint/assets/logos/octoprint_logo_rgb_500px.png
  octoprint/assets/service_checks.json
  octoprint/datadog_checks/__init__.py
  octoprint/datadog_checks/octoprint/__about__.py
  octoprint/datadog_checks/octoprint/__init__.py
  octoprint/datadog_checks/octoprint/check.py
  octoprint/datadog_checks/octoprint/data/conf.yaml.example
  octoprint/images/.gitkeep
  octoprint/manifest.json
  octoprint/metadata.csv
  octoprint/requirements-dev.txt
  octoprint/requirements.in
  octoprint/setup.py
  octoprint/tests/__init__.py
  octoprint/tests/common.py
  octoprint/tests/conftest.py
  octoprint/tests/docker-compose.yml
  octoprint/tests/test_octoprint.py
  octoprint/tox.ini
Labels: integration/octoprint, kind/new-integration

#823 fixing issue that is breaking the documentation pipeline
  octoprint/README.md
Labels: changelog/no-changelog, documentation, integration/octoprint

#827 Add overview dashboard to cert manager integration
  cert_manager/README.md
  cert_manager/assets/dashboards/certmanager_overview.json
  cert_manager/images/overview_dashboard.png
  cert_manager/manifest.json
Labels: changelog/no-changelog, integration/cert-manager

#820 Add e2e tests for cert_manager integration
  cert_manager/datadog_checks/cert_manager/cert_manager.py
  cert_manager/datadog_checks/cert_manager/metrics.py
  cert_manager/requirements-dev.txt
  cert_manager/tests/common.py
  cert_manager/tests/conftest.py
  cert_manager/tests/kubernetes/acme.yaml
  cert_manager/tests/kubernetes/nginx.yaml
  cert_manager/tests/kubernetes/pebble.yaml
  cert_manager/tests/kubernetes/selfsigned.yaml
  cert_manager/tests/test_cert_manager.py
  cert_manager/tests/test_e2e.py
  cert_manager/tox.ini
Labels: changelog/no-changelog

#831 Release cert_manager integration 2.0.0
  cert_manager/CHANGELOG.md
  cert_manager/datadog_checks/cert_manager/__about__.py
Labels: integration/cert-manager

#835 [DOCS-1839] Add link to tracing docs
  ambassador/README.md
Labels: changelog/no-changelog
