Repository DataDog/integrations-extras, pull requests merged in 2022-02, with the labels that each got.

#1137 Update the regions text in auth0 setup steps to include new regions
  auth0/README.md
Labels: documentation, changelog/no-changelog

#1136 Update Pagerduty landing page and widget images
  pagerduty/CHANGELOG.md
  pagerduty/images/incidents.jpg
  pagerduty/images/landing_page.png
  pagerduty/manifest.json
Labels: kind/app

#1143 Update example config
  gnatsd/assets/configuration/spec.yaml
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
Labels: changelog/Added

#944 Update Neo4j Integration to Support Neo4j 4.x
  neo4j/CHANGELOG.md
  neo4j/README.md
  neo4j/assets/configuration/spec.yaml
  neo4j/assets/service_checks.json
  neo4j/conf.yaml.example
  neo4j/datadog_checks/__init__.py
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/config_models/__init__.py
  neo4j/datadog_checks/neo4j/config_models/defaults.py
  neo4j/datadog_checks/neo4j/config_models/instance.py
  neo4j/datadog_checks/neo4j/config_models/validators.py
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/metrics.py
  neo4j/datadog_checks/neo4j/neo4j.py
  neo4j/manifest.json
  neo4j/metadata.csv
  neo4j/setup.py
  neo4j/tests/common.py
  neo4j/tests/conftest.py
  neo4j/tests/docker/docker-compose.yaml
  neo4j/tests/test_neo4j.py
  neo4j/tox.ini
Labels: changelog/Changed

#1191 Add `pyproject.toml` file
  speedtest/MANIFEST.in
  speedtest/pyproject.toml
  speedtest/requirements.in
  speedtest/setup.py
  speedtest/tox.ini
Labels: changelog/Added, integration/speedtest

#1197 Add `pyproject.toml` file
  upsc/MANIFEST.in
  upsc/pyproject.toml
  upsc/requirements.in
  upsc/setup.py
  upsc/tox.ini
Labels: changelog/Added, integration/upsc

#1170 Add `pyproject.toml` file
  nextcloud/MANIFEST.in
  nextcloud/pyproject.toml
  nextcloud/requirements.in
  nextcloud/setup.py
  nextcloud/tox.ini
Labels: changelog/Added, integration/nextcloud

#1193 Add `pyproject.toml` file
  storm/MANIFEST.in
  storm/pyproject.toml
  storm/requirements.in
  storm/setup.py
  storm/tox.ini
Labels: changelog/Added, integration/storm

#1135 Push requests_count metric for Puma running in single mode
  puma/datadog_checks/puma/puma.py
  puma/tests/test_puma.py
Labels: changelog/Added, integration/puma

#1202 Bump puma tests dependency
  puma/tests/docker/Gemfile
  puma/tests/docker/Gemfile.lock
Labels: changelog/no-changelog, integration/puma

#1211 Fix package link in CI VM script
  .azure-pipelines/scripts/foundationdb/linux/55_install_client.sh
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
Labels: changelog/no-changelog, integration/foundationdb

#1210 Add curated_metric column to metadata.csv files
  foundationdb/metadata.csv
  launchdarkly/manifest.json
  launchdarkly/metadata.csv
Labels: changelog/Added, integration/launchdarkly, integration/foundationdb

#1204 Add curated_metric column to metadata.csv files
  auth0/metadata.csv
  concourse_ci/metadata.csv
  convox/metadata.csv
  lacework/metadata.csv
  logzio/metadata.csv
  snmpwalk/metadata.csv
  vns3/metadata.csv
Labels: changelog/Added, integration/vns3, integration/snmpwalk, integration/logzio, integration/convox, integration/concourse_ci, integration/auth0, integration/lacework

#1206 Add curated_metric column to metadata.csv files
  aqua/metadata.csv
  rbltracker/metadata.csv
  split/metadata.csv
  uptime/metadata.csv
Labels: changelog/Added, integration/aqua, integration/uptime, integration/split, integration/rbltracker

#1208 Add curated_metric column to metadata.csv files
  flume/metadata.csv
  nextcloud/metadata.csv
  vercel/metadata.csv
Labels: changelog/Added, integration/nextcloud, integration/flume, integration/vercel

#1207 Add curated_metric column to metadata.csv files
  nomad/metadata.csv
  octoprint/metadata.csv
  pihole/metadata.csv
  ping/metadata.csv
Labels: changelog/Added, integration/nomad, integration/ping, integration/pihole, integration/octoprint

#1205 Add curated_metric column to metadata.csv files
  cert_manager/metadata.csv
  gatekeeper/metadata.csv
  open_policy_agent/metadata.csv
  speedtest/metadata.csv
  storm/metadata.csv
  upsc/metadata.csv
Labels: changelog/Added, integration/storm, integration/upsc, integration/speedtest, integration/gatekeeper, integration/open_policy_agent, integration/cert_manager

#1215 Update README
  .github/CODEOWNERS
  redisenterprise/README.md
Labels: changelog/no-changelog, integration/redisenterprise
