Repository DataDog/integrations-extras, pull requests merged in 2022-04, with the labels that each got.

#1256 Add Syncthing integration
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  syncthing/CHANGELOG.md
  syncthing/README.md
  syncthing/assets/configuration/spec.yaml
  syncthing/assets/dashboards/syncthing_overview.json
  syncthing/assets/monitors/syncthing_disconnected.json
  syncthing/assets/monitors/syncthing_folder_error.json
  syncthing/assets/monitors/syncthing_out_of_sync.json
  syncthing/assets/monitors/syncthing_system_error.json
  syncthing/assets/service_checks.json
  syncthing/datadog_checks/__init__.py
  syncthing/datadog_checks/syncthing/__about__.py
  syncthing/datadog_checks/syncthing/__init__.py
  syncthing/datadog_checks/syncthing/check.py
  syncthing/datadog_checks/syncthing/config_models/__init__.py
  syncthing/datadog_checks/syncthing/config_models/defaults.py
  syncthing/datadog_checks/syncthing/config_models/instance.py
  syncthing/datadog_checks/syncthing/config_models/shared.py
  syncthing/datadog_checks/syncthing/config_models/validators.py
  syncthing/datadog_checks/syncthing/data/conf.yaml.example
  syncthing/images/.gitkeep
  syncthing/manifest.json
  syncthing/metadata.csv
  syncthing/pyproject.toml
  syncthing/requirements-dev.txt
  syncthing/setup.py
  syncthing/tests/__init__.py
  syncthing/tests/conftest.py
  syncthing/tests/test_syncthing.py
  syncthing/tox.ini
Labels: documentation, kind/new-integration, editorial review

#1254 Add Apptrail tile only integration
  .github/CODEOWNERS
  apptrail/CHANGELOG.md
  apptrail/README.md
  apptrail/assets/logos/apptrail-logo.svg
  apptrail/assets/service_checks.json
  apptrail/images/1-at-portal.png
  apptrail/images/2-at-events-history.png
  apptrail/images/3-at-log-detail.png
  apptrail/images/4-at-create-trail-sel.png
  apptrail/images/5-at-trail-detail.png
  apptrail/images/6-datadog-preview.png
  apptrail/manifest.json
Labels: editorial review, kind/technology-partner

#1258 Adding EverSQL integration
  .github/CODEOWNERS
  eversql/README.md
  eversql/assets/logos/EverSQL-logo1.svg
  eversql/assets/logos/EverSQL-logo2.svg
  eversql/assets/logos/EverSQL-logo3.svg
  eversql/assets/logos/EverSQL-logo4.svg
  eversql/assets/logos/avatars-bot.png
  eversql/assets/logos/saas_logos-bot.png
  eversql/assets/logos/saas_logos-small.png
  eversql/images/1.png
  eversql/images/2.png
  eversql/images/3.png
  eversql/images/4.png
  eversql/manifest.json
Labels: editorial review, kind/technology-partner

#1275 Update shoreline for recent validation requirements
  shoreline/CHANGELOG.md
  shoreline/README.md
  shoreline/manifest.json
Labels: changelog/no-changelog, kind/technology-partner

#1277 Add basic changelog
  eversql/changelog.md
Labels: changelog/no-changelog

#1270 [NS1] Add API rate limit handler
  .github/CODEOWNERS
  ns1/CHANGELOG.md
  ns1/datadog_checks/ns1/__about__.py
  ns1/datadog_checks/ns1/check.py
  ns1/datadog_checks/ns1/data/conf.yaml.example
  ns1/manifest.json
  ns1/tests/test_ns1.py
Labels: kind/technology-partner

#1174 Add `pyproject.toml` file
  open_policy_agent/MANIFEST.in
  open_policy_agent/pyproject.toml
  open_policy_agent/requirements.in
  open_policy_agent/setup.py
  open_policy_agent/tox.ini
Labels: changelog/Added, integration/open_policy_agent

#1172 Add `pyproject.toml` file
  nvml/MANIFEST.in
  nvml/pyproject.toml
  nvml/requirements.in
  nvml/setup.py
  nvml/tox.ini
Labels: changelog/Added, integration/nvml

#1171 Add `pyproject.toml` file
  ns1/MANIFEST.in
  ns1/pyproject.toml
  ns1/requirements.in
  ns1/setup.py
  ns1/tox.ini
Labels: changelog/Added, integration/ns1

#1167 Add `pyproject.toml` file
  logstash/MANIFEST.in
  logstash/pyproject.toml
  logstash/requirements.in
  logstash/setup.py
  logstash/tox.ini
Labels: changelog/Added, integration/logstash

#1165 Add `pyproject.toml` file
  kernelcare/MANIFEST.in
  kernelcare/pyproject.toml
  kernelcare/requirements.in
  kernelcare/setup.py
  kernelcare/tox.ini
Labels: changelog/Added, integration/kernelcare

#1161 Add `pyproject.toml` file
  gnatsd_streaming/MANIFEST.in
  gnatsd_streaming/pyproject.toml
  gnatsd_streaming/requirements.in
  gnatsd_streaming/setup.py
  gnatsd_streaming/tox.ini
Labels: changelog/Added, integration/gnatsd_streaming

#1160 Add `pyproject.toml` file
  gnatsd/MANIFEST.in
  gnatsd/pyproject.toml
  gnatsd/requirements.in
  gnatsd/setup.py
  gnatsd/tox.ini
Labels: changelog/Added, integration/gnatsd

#1159 Add `pyproject.toml` file
  gatekeeper/MANIFEST.in
  gatekeeper/pyproject.toml
  gatekeeper/requirements.in
  gatekeeper/setup.py
  gatekeeper/tox.ini
Labels: changelog/Added, integration/gatekeeper

#1152 Add `pyproject.toml` file
  cert_manager/MANIFEST.in
  cert_manager/pyproject.toml
  cert_manager/requirements.in
  cert_manager/setup.py
  cert_manager/tox.ini
Labels: changelog/Added, integration/cert_manager

#1154 Add `pyproject.toml` file
  cyral/MANIFEST.in
  cyral/pyproject.toml
  cyral/requirements.in
  cyral/setup.py
  cyral/tox.ini
Labels: changelog/Added, integration/cyral

#1156 Add `pyproject.toml` file
  filebeat/MANIFEST.in
  filebeat/pyproject.toml
  filebeat/requirements.in
  filebeat/setup.py
  filebeat/tox.ini
Labels: changelog/Added, integration/filebeat

#1162 Add `pyproject.toml` file
  hbase_master/MANIFEST.in
  hbase_master/pyproject.toml
  hbase_master/setup.py
Labels: changelog/Added, integration/hbase_master

#1163 Add `pyproject.toml` file
  hbase_regionserver/MANIFEST.in
  hbase_regionserver/pyproject.toml
  hbase_regionserver/requirements.in
  hbase_regionserver/setup.py
Labels: changelog/Added, integration/hbase_regionserver

#1164 Add `pyproject.toml` file
  jfrog_platform/MANIFEST.in
  jfrog_platform/pyproject.toml
  jfrog_platform/requirements.in
  jfrog_platform/setup.py
  jfrog_platform/tox.ini
Labels: changelog/Added, integration/jfrog_platform
