Repository DataDog/integrations-extras, pull requests merged in 2022-09, with the labels that each got.

#1381 New integration for gRPC Health Check
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  grpc_check/CHANGELOG.md
  grpc_check/README.md
  grpc_check/assets/configuration/spec.yaml
  grpc_check/assets/dashboards/grpc_check_overview.json
  grpc_check/assets/service_checks.json
  grpc_check/datadog_checks/__init__.py
  grpc_check/datadog_checks/grpc_check/__about__.py
  grpc_check/datadog_checks/grpc_check/__init__.py
  grpc_check/datadog_checks/grpc_check/check.py
  grpc_check/datadog_checks/grpc_check/config_models/__init__.py
  grpc_check/datadog_checks/grpc_check/config_models/defaults.py
  grpc_check/datadog_checks/grpc_check/config_models/instance.py
  grpc_check/datadog_checks/grpc_check/config_models/shared.py
  grpc_check/datadog_checks/grpc_check/config_models/validators.py
  grpc_check/datadog_checks/grpc_check/data/conf.yaml.example
  grpc_check/images/grpc-logo.png
  grpc_check/manifest.json
  grpc_check/metadata.csv
  grpc_check/pyproject.toml
  grpc_check/requirements-dev.txt
  grpc_check/setup.py
  grpc_check/tests/__init__.py
  grpc_check/tests/conftest.py
  grpc_check/tests/docker/Dockerfile
  grpc_check/tests/docker/docker-compose.yml
  grpc_check/tests/docker/go.mod
  grpc_check/tests/docker/go.sum
  grpc_check/tests/docker/main.go
  grpc_check/tests/fixtures/README.md
  grpc_check/tests/fixtures/ca-config.json
  grpc_check/tests/fixtures/ca-csr.json
  grpc_check/tests/fixtures/ca-key.pem
  grpc_check/tests/fixtures/ca.csr
  grpc_check/tests/fixtures/ca.pem
  grpc_check/tests/fixtures/client-csr.json
  grpc_check/tests/fixtures/client-key.pem
  grpc_check/tests/fixtures/client.csr
  grpc_check/tests/fixtures/client.pem
  grpc_check/tests/fixtures/server-csr.json
  grpc_check/tests/fixtures/server-key.pem
  grpc_check/tests/fixtures/server.csr
  grpc_check/tests/fixtures/server.pem
  grpc_check/tests/test_grpc_check.py
  grpc_check/tox.ini
Labels: changelog/Added, kind/new-integration, integration/grpc_check

#1512 unitq integration
  .github/CODEOWNERS
  unitq/CHANGELOG.md
  unitq/README.md
  unitq/assets/dashboards/unitq_overview.json
  unitq/assets/logos/avatars-bot.png
  unitq/assets/logos/saas_logos-bot.png
  unitq/assets/logos/saas_logos-small.png
  unitq/assets/service_checks.json
  unitq/manifest.json
  unitq/metadata.csv
Labels: editorial review, kind/technology-partner

#1545 Sync config files and models
  gatekeeper/datadog_checks/gatekeeper/config_models/__init__.py
  gatekeeper/datadog_checks/gatekeeper/config_models/defaults.py
  gatekeeper/datadog_checks/gatekeeper/config_models/instance.py
  gatekeeper/datadog_checks/gatekeeper/config_models/shared.py
  gatekeeper/datadog_checks/gatekeeper/config_models/validators.py
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
Labels: changelog/Fixed, integration/gatekeeper

#1548 Bump base check version to 15.0.0
  gatekeeper/pyproject.toml
Labels: changelog/Fixed, integration/gatekeeper

#1547 Release gatekeeper version 1.0.0
  gatekeeper/CHANGELOG.md
  gatekeeper/datadog_checks/gatekeeper/__about__.py
Labels: changelog/no-changelog, integration/gatekeeper
