Repository DataDog/integrations-extras, pull requests merged in 2022-03, with the labels that each got.

#1217 Update changelog
  neo4j/CHANGELOG.md
Labels: changelog/no-changelog, integration/neo4j

#1218 Add Pure Storage FlashArray Integration
  .azure-pipelines/all.yml
  .codecov.yml
  .github/CODEOWNERS
  purefa/CHANGELOG.md
  purefa/README.md
  purefa/assets/Pure-storage-vector-logo.svg
  purefa/assets/configuration/spec.yaml
  purefa/assets/service_checks.json
  purefa/dashboards/purefa_overview.json
  purefa/datadog_checks/__init__.py
  purefa/datadog_checks/purefa/__about__.py
  purefa/datadog_checks/purefa/__init__.py
  purefa/datadog_checks/purefa/config_models/__init__.py
  purefa/datadog_checks/purefa/config_models/defaults.py
  purefa/datadog_checks/purefa/config_models/instance.py
  purefa/datadog_checks/purefa/config_models/shared.py
  purefa/datadog_checks/purefa/config_models/validators.py
  purefa/datadog_checks/purefa/data/conf.yaml.example
  purefa/datadog_checks/purefa/metrics.py
  purefa/datadog_checks/purefa/purefa.py
  purefa/images/API.png
  purefa/images/FA-overview-1.png
  purefa/images/FA-overview-2.png
  purefa/images/FA-overview-3.png
  purefa/images/widget_logo.png
  purefa/manifest.json
  purefa/metadata.csv
  purefa/pyproject.toml
  purefa/requirements-dev.txt
  purefa/requirements.in
  purefa/tests/__init__.py
  purefa/tests/conftest.py
  purefa/tests/test_purefa.py
  purefa/tox.ini
Labels: changelog/Added, editorial review, kind/technology-partner, integration/purefa

#1199 Add `pyproject.toml` file
  zabbix/MANIFEST.in
  zabbix/pyproject.toml
  zabbix/requirements.in
  zabbix/setup.py
  zabbix/tox.ini
Labels: changelog/Added, integration/zabbix

#1198 Add `pyproject.toml` file
  vespa/MANIFEST.in
  vespa/pyproject.toml
  vespa/requirements.in
  vespa/setup.py
  vespa/tox.ini
Labels: changelog/Added, integration/vespa

#1196 Add `pyproject.toml` file
  unbound/MANIFEST.in
  unbound/pyproject.toml
  unbound/requirements.in
  unbound/setup.py
  unbound/tox.ini
Labels: changelog/Added, integration/unbound

#1195 Add `pyproject.toml` file
  traefik/MANIFEST.in
  traefik/pyproject.toml
  traefik/requirements.in
  traefik/setup.py
  traefik/tox.ini
Labels: changelog/Added, integration/traefik

#1194 Add `pyproject.toml` file
  tidb/MANIFEST.in
  tidb/pyproject.toml
  tidb/requirements.in
  tidb/setup.py
  tidb/tox.ini
Labels: changelog/Added, integration/tidb

#1192 Add `pyproject.toml` file
  stardog/MANIFEST.in
  stardog/pyproject.toml
  stardog/requirements.in
  stardog/setup.py
  stardog/tox.ini
Labels: changelog/Added, integration/stardog

#1190 Add `pyproject.toml` file
  sortdb/MANIFEST.in
  sortdb/pyproject.toml
  sortdb/requirements.in
  sortdb/setup.py
  sortdb/tox.ini
Labels: changelog/Added, integration/sortdb

#1189 Add `pyproject.toml` file
  snmpwalk/MANIFEST.in
  snmpwalk/pyproject.toml
  snmpwalk/requirements.in
  snmpwalk/setup.py
  snmpwalk/tox.ini
Labels: changelog/Added, integration/snmpwalk

#1188 Add `pyproject.toml` file
  sendmail/MANIFEST.in
  sendmail/pyproject.toml
  sendmail/requirements.in
  sendmail/setup.py
  sendmail/tox.ini
Labels: changelog/Added, integration/sendmail

#1187 Add `pyproject.toml` file
  riak_repl/MANIFEST.in
  riak_repl/pyproject.toml
  riak_repl/requirements.in
  riak_repl/setup.py
  riak_repl/tox.ini
Labels: changelog/Added, integration/riak_repl

#1229 Update README.md
  launchdarkly/README.md
Labels: changelog/no-changelog

#1228 K6 - updating to an agent type
  k6/manifest.json
Labels: documentation, changelog/no-changelog, integration/k6

#1231 Tyk Integration Manifest.json Edit
  tyk/manifest.json
Labels: documentation

#1232 Tyk Integration Edit
  tyk/README.md
Labels: documentation

#1235 [documentation] fixing broken links
  sleuth/README.md
Labels: documentation, changelog/no-changelog, integration/sleuth

#1236 Add changelog field to manifest
  launchdarkly/manifest.json
Labels: changelog/no-changelog

#1227 Move foundationdb to core
  .azure-pipelines/all.yml
  .azure-pipelines/scripts/foundationdb/linux/55_install_client.sh
  .codecov.yml
  .github/CODEOWNERS
  foundationdb/CHANGELOG.md
  foundationdb/MANIFEST.in
  foundationdb/README.md
  foundationdb/assets/configuration/spec.yaml
  foundationdb/assets/dashboards/foundationdb_latency_probe.json
  foundationdb/assets/dashboards/foundationdb_machines_and_processes.json
  foundationdb/assets/dashboards/foundationdb_queues.json
  foundationdb/assets/dashboards/foundationdb_size_and_utilization.json
  foundationdb/assets/dashboards/foundationdb_transactions_and_workload.json
  foundationdb/assets/monitors/conflicts.json
  foundationdb/assets/monitors/errors_logged.json
  foundationdb/assets/monitors/high_durability_lag.json
  foundationdb/assets/monitors/log_queue_spill.json
  foundationdb/assets/monitors/low_disk_space.json
  foundationdb/assets/monitors/read_latency_probe.json
  foundationdb/assets/monitors/rejections.json
  foundationdb/assets/monitors/service_check.json
  foundationdb/assets/monitors/transaction_commit_latency.json
  foundationdb/assets/monitors/transaction_start_latency.json
  foundationdb/assets/saved_views/all.json
  foundationdb/assets/saved_views/errors.json
  foundationdb/assets/saved_views/errors_and_strong_warnings.json
  foundationdb/assets/service_checks.json
  foundationdb/datadog_checks/__init__.py
  foundationdb/datadog_checks/foundationdb/__about__.py
  foundationdb/datadog_checks/foundationdb/__init__.py
  foundationdb/datadog_checks/foundationdb/check.py
  foundationdb/datadog_checks/foundationdb/config_models/__init__.py
  foundationdb/datadog_checks/foundationdb/config_models/defaults.py
  foundationdb/datadog_checks/foundationdb/config_models/instance.py
  foundationdb/datadog_checks/foundationdb/config_models/shared.py
  foundationdb/datadog_checks/foundationdb/config_models/validators.py
  foundationdb/datadog_checks/foundationdb/data/conf.yaml.example
  foundationdb/images/.gitkeep
  foundationdb/manifest.json
  foundationdb/metadata.csv
  foundationdb/requirements-dev.txt
  foundationdb/requirements.in
  foundationdb/setup.py
  foundationdb/tests/__init__.py
  foundationdb/tests/conftest.py
  foundationdb/tests/docker/Dockerfile.fdb-tls
  foundationdb/tests/docker/docker-compose-tls.yaml
  foundationdb/tests/docker/docker-compose.yaml
  foundationdb/tests/docker/fdb.bash
  foundationdb/tests/docker/tls/cert.crt
  foundationdb/tests/docker/tls/fdb.pem
  foundationdb/tests/docker/tls/private.key
  foundationdb/tests/fdb-tls.cluster
  foundationdb/tests/fdb.cluster
  foundationdb/tests/full.json
  foundationdb/tests/partial.json
  foundationdb/tests/test_foundationdb.py
  foundationdb/tox.ini
Labels: do-not-merge/HOLD

#1186 Add `pyproject.toml` file
  resin/MANIFEST.in
  resin/pyproject.toml
  resin/requirements.in
  resin/setup.py
  resin/tox.ini
Labels: changelog/Added, integration/resin

#1185 Add `pyproject.toml` file
  redpanda/MANIFEST.in
  redpanda/pyproject.toml
  redpanda/requirements.in
  redpanda/setup.py
  redpanda/tox.ini
Labels: changelog/Added, integration/redpanda

#1181 Add `pyproject.toml` file
  puma/MANIFEST.in
  puma/pyproject.toml
  puma/requirements.in
  puma/setup.py
  puma/tox.ini
Labels: changelog/Added, integration/puma

#1180 Add `pyproject.toml` file
  pulsar/MANIFEST.in
  pulsar/pyproject.toml
  pulsar/requirements.in
  pulsar/setup.py
  pulsar/tox.ini
Labels: changelog/Added, integration/pulsar

#1178 Add `pyproject.toml` file
  ping/MANIFEST.in
  ping/pyproject.toml
  ping/requirements.in
  ping/setup.py
  ping/tox.ini
Labels: changelog/Added, integration/ping

#1183 Add `pyproject.toml` file
  redis_sentinel/MANIFEST.in
  redis_sentinel/pyproject.toml
  redis_sentinel/requirements.in
  redis_sentinel/setup.py
  redis_sentinel/tox.ini
Labels: changelog/Added, integration/redis_sentinel

#1176 Add `pyproject.toml` file
  php_opcache/MANIFEST.in
  php_opcache/pyproject.toml
  php_opcache/requirements.in
  php_opcache/setup.py
  php_opcache/tox.ini
Labels: changelog/Added, integration/php_opcache

#1179 Add `pyproject.toml` file
  portworx/MANIFEST.in
  portworx/pyproject.toml
  portworx/requirements.in
  portworx/setup.py
  portworx/tox.ini
Labels: changelog/Added, integration/portworx

#1177 Add `pyproject.toml` file
  pihole/MANIFEST.in
  pihole/pyproject.toml
  pihole/requirements.in
  pihole/setup.py
  pihole/tox.ini
Labels: changelog/Added, integration/pihole

#1237 Add RP consumer group offset
  redpanda/assets/dashboards/overview.json
  redpanda/datadog_checks/redpanda/metrics.py
  redpanda/metadata.csv
  redpanda/tests/common.py
  redpanda/tests/fixtures/redpanda_metrics.txt
  redpanda/tests/test_redpanda.py
  redpanda/tox.ini
Labels: changelog/Added, integration/redpanda

#1246 Sync example configs
  cyral/datadog_checks/cyral/data/conf.yaml.example
  eventstore/datadog_checks/eventstore/data/conf.yaml.example
  filebeat/datadog_checks/filebeat/data/conf.yaml.example
  gatekeeper/datadog_checks/gatekeeper/data/auto_conf.yaml
  gatekeeper/datadog_checks/gatekeeper/data/conf.yaml.example
  gnatsd/datadog_checks/gnatsd/data/conf.yaml.example
  gnatsd_streaming/datadog_checks/gnatsd_streaming/data/conf.yaml.example
  jfrog_platform/datadog_checks/jfrog_platform/data/conf.yaml.example
  kernelcare/datadog_checks/kernelcare/data/conf.yaml.example
  logstash/datadog_checks/logstash/data/conf.yaml.example
  neo4j/datadog_checks/neo4j/data/conf.yaml.example
  open_policy_agent/datadog_checks/open_policy_agent/data/auto_conf.yaml
  open_policy_agent/datadog_checks/open_policy_agent/data/conf.yaml.example
  php_apcu/datadog_checks/php_apcu/data/conf.yaml.example
  php_opcache/datadog_checks/php_opcache/data/conf.yaml.example
  pihole/datadog_checks/pihole/data/conf.yaml.example
  pulsar/datadog_checks/pulsar/data/conf.yaml.example
  puma/datadog_checks/puma/data/conf.yaml.example
  purefa/datadog_checks/purefa/data/conf.yaml.example
  redisenterprise/datadog_checks/redisenterprise/data/conf.yaml.example
  redpanda/datadog_checks/redpanda/data/conf.yaml.example
  tidb/datadog_checks/tidb/data/conf.yaml.example
  zabbix/datadog_checks/zabbix/data/conf.yaml.example
Labels: changelog/no-changelog

#1245 [Release] Bumped redpanda to 1.1.0
  redpanda/CHANGELOG.md
  redpanda/datadog_checks/redpanda/__about__.py
Labels: changelog/no-changelog

#1247 Fix invalid emails
  redis_sentinel/pyproject.toml
  traefik/pyproject.toml
Labels: changelog/no-changelog

#1248 [Release] Bumped redpanda to 1.1.0
  redpanda/CHANGELOG.md
Labels: changelog/no-changelog

#1240 Add Finout Tile for the Finout Datadog Application
  .github/CODEOWNERS
  finout/CHANGELOG.md
  finout/README.md
  finout/assets/logos/finout-dark-mode-logo.svg
  finout/assets/logos/finout-light-mode-logo.svg
  finout/images/DD-banner.png
  finout/images/DD-configuration.png
  finout/images/DD-fig1.png
  finout/images/DD-fig2.png
  finout/manifest.json
Labels: kind/technology-partner
