Repository DataDog/integrations-extras, pull requests merged in 2023-07, with the labels that each got.

#1876 Seagence's first PR with tile-only integration.
  .github/CODEOWNERS
  seagence/CHANGELOG.md
  seagence/README.md
  seagence/assets/dashboards/seagence_overview.json
  seagence/assets/eula.pdf
  seagence/assets/logos/logo.svg
  seagence/assets/monitors/defect_detection_monitor.json
  seagence/assets/service_checks.json
  seagence/images/datadog-dashboard.png
  seagence/images/defect-and-success-clusters.png
  seagence/images/defect-and-successexecution-paths-1440x810.png
  seagence/manifest.json
Labels: editorial review, kind/technology-partner, docs/approved, product/approved, product/logos-complete, ecosystems/synced, ecosystems/approved, ecosystems/oauth-synced, ecosystems/oauth-staging-synced

#2041 Update metrics for Neo4j 5.10
  neo4j/CHANGELOG.md
  neo4j/datadog_checks/neo4j/__about__.py
  neo4j/datadog_checks/neo4j/metrics.py
  neo4j/metadata.csv
Labels: docs/approved, product/approved, ecosystems/synced, ecosystems/approved

#1877 Add CloudNatix integration.
  .codecov.yml
  .github/CODEOWNERS
  .github/workflows/test-all.yml
  cloudnatix/CHANGELOG.md
  cloudnatix/README.md
  cloudnatix/assets/configuration/spec.yaml
  cloudnatix/assets/dashboards/cloudnatix_overview.json
  cloudnatix/assets/logos/cloudnatix.svg
  cloudnatix/assets/service_checks.json
  cloudnatix/datadog_checks/__init__.py
  cloudnatix/datadog_checks/cloudnatix/__about__.py
  cloudnatix/datadog_checks/cloudnatix/__init__.py
  cloudnatix/datadog_checks/cloudnatix/cloudnatix.py
  cloudnatix/datadog_checks/cloudnatix/config_models/__init__.py
  cloudnatix/datadog_checks/cloudnatix/config_models/defaults.py
  cloudnatix/datadog_checks/cloudnatix/config_models/instance.py
  cloudnatix/datadog_checks/cloudnatix/config_models/validators.py
  cloudnatix/datadog_checks/cloudnatix/data/conf.yaml.example
  cloudnatix/datadog_checks/cloudnatix/metrics.py
  cloudnatix/hatch.toml
  cloudnatix/images/cloudnatix-dashboard.png
  cloudnatix/images/cloudnatix-projected-saving.png
  cloudnatix/manifest.json
  cloudnatix/metadata.csv
  cloudnatix/pyproject.toml
  cloudnatix/setup.py
  cloudnatix/tests/__init__.py
  cloudnatix/tests/common.py
  cloudnatix/tests/conftest.py
  cloudnatix/tests/docker/docker-compose.yml
  cloudnatix/tests/docker/html/metrics
  cloudnatix/tests/test_cloudnatix.py
Labels: editorial review, kind/technology-partner, agent/approved, docs/approved, product/approved, product/logos-complete, ecosystems/synced, ecosystems/approved

#2056 Flagsmith - added dashboard
  flagsmith/assets/dashboards/flagsmith-dashboard.json
  flagsmith/manifest.json
Labels: kind/technology-partner, product/approved, ecosystems/synced, ecosystems/approved

#2049 Integration tile for TaskCall
  .github/CODEOWNERS
  taskcall/CHANGELOG.md
  taskcall/README.md
  taskcall/assets/logos/TaskCallBlueIconLogo.svg
  taskcall/images/DatadogTaskCallAuthorization.png
  taskcall/images/impact_visibility_status_dashboard.png
  taskcall/images/incident_details.png
  taskcall/images/incident_notifications.png
  taskcall/images/on_call_management.png
  taskcall/manifest.json
Labels: kind/new-integration, editorial review, kind/technology-partner, docs/approved, product/approved, product/logos-complete, ecosystems/synced, ecosystems/approved, ecosystems/oauth-synced, ecosystems/oauth-staging-synced

#2045 Singlestore/api integration
  .github/CODEOWNERS
  singlestoredb_cloud/CHANGELOG.md
  singlestoredb_cloud/README.md
  singlestoredb_cloud/assets/dashboards/singlestoredb_cloud_overview.json
  singlestoredb_cloud/assets/service_checks.json
  singlestoredb_cloud/images/singlestore_logo_horizontal_color_on-white_rgb.jpg
  singlestoredb_cloud/images/singlestoredb-cloud-dashboard.png
  singlestoredb_cloud/manifest.json
  singlestoredb_cloud/metadata.csv
Labels: editorial review, kind/technology-partner, agent/reviewed, docs/approved, product/approved, product/logos-complete, ecosystems/oauth-synced, ecosystems/review-requested

#1868 Add statsig gate rum integration
  .github/CODEOWNERS
  statsig_rum/CHANGELOG.md
  statsig_rum/README.md
  statsig_rum/assets/dashboards/statsig_rum_overview.json
  statsig_rum/assets/service_checks.json
  statsig_rum/images/dd-view-1.jpg
  statsig_rum/images/dd-view-2.jpg
  statsig_rum/images/statsig.png
  statsig_rum/images/statsig.svg
  statsig_rum/manifest.json
Labels: kind/technology-partner, agent/approved, docs/approved, product/approved, product/logos-complete, ecosystems/approved

#2040 Update ngrok_http_events.json
  ngrok/assets/dashboards/ngrok_http_events.json
Labels: kind/technology-partner, product/approved, ecosystems/approved

#2059 Removed configuration from being logged
  redis_sentinel/CHANGELOG.md
  redis_sentinel/datadog_checks/redis_sentinel/__about__.py
  redis_sentinel/datadog_checks/redis_sentinel/redis_sentinel.py
Labels: changelog/Fixed

#2061 Fix monitor definition
  nomad/assets/monitors/nomad_heartbeats_received.json
  nomad/assets/monitors/nomad_job_is_failing.json
  php_apcu/assets/monitors/php-apcu_expunges.json
  php_apcu/assets/monitors/php-apcu_high_usage.json
  php_opcache/assets/monitors/php-opcache_expunges.json
  sigsci/assets/monitors/excessiveblockedHTTP.json
  sigsci/manifest.json
Labels: changelog/no-changelog, assets/no-dry-run
