Repository DataDog/integrations-extras, pull requests merged in 2025-05, with the labels that each got.

#2676 LaunchDarkly and PagerDuty app builder blueprints
  launchdarkly/assets/app-builder-blueprints/launchdarkly_feature_flag_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_incident_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_oncall_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_service_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_trigger_incident.json
Labels: assets/no-dry-run

#2678 fix from camel case to snake case for property in app builder blueprints
  pagerduty/assets/app-builder-blueprints/pagerduty_incident_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_oncall_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_service_manager.json
  pagerduty/assets/app-builder-blueprints/pagerduty_trigger_incident.json
Labels: assets/no-dry-run

#2680 app builder blueprint asset for instabug integration
  instabug/assets/app-builder-blueprints/instabug-sessions-explorer.json
Labels: assets/no-dry-run

#2689 [ECOINT-177] Update Modal Metrics with Input Metrics
  modal/CHANGELOG.md
  modal/assets/dashboards/modal.json
  modal/images/modal-datadog-dashboard.jpg
  modal/images/modal-datadog-dashboard.png
  modal/manifest.json
  modal/metadata.csv
Labels: kind/technology-partner, docs/review-requested, product/approved, ecosystems/approved

#2696 [ECOINT-185] Fix Modal input metrics tags
  modal/metadata.csv
Labels: kind/technology-partner, product/approved, ecosystems/approved

#2701 [ECOINT-190] CP-29348 Add billing_read scope to CloudZero integration.
  cloudzero/CHANGELOG.md
  cloudzero/assets/oauth_clients.json
Labels: kind/technology-partner, docs/review-requested, product/approved, ecosystems/approved

#2687 [ECOINT-173] chore(drata): update logo
  drata/assets/logos/Drata Icon Black BG.svg
  drata/assets/logos/Drata Icon White Reversed.svg
  drata/assets/logos/icon_dark.svg
  drata/assets/logos/icon_light.svg
  drata/assets/logos/wordmark_dark.svg
  drata/assets/logos/wordmark_light.svg
Labels: kind/technology-partner, product/approved, product/logos-complete, ecosystems/approved
